.page-about .carousel-full {
    height: 100vh;
    background: url(../../static/images/about/c01.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


.page-about .ad-r .description {right:9%;top:55%;transform:translateY(-50%);}
.page-about .ad-carousel h3 {margin-bottom:12px;font-size:50px;font-weight:bold;}
.page-about .ad-carousel p {margin-bottom:36px;font-size:24px}

/* video */
.vimeo-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.vimeo-wrapper iframe {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


/* Responseve */
@charset "utf-8";

@media only screen and (max-width: 1680px) {

} 

@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1366px) {

} 

@media only screen and (max-width: 1280px) {

}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1199px) {

}

/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px) {
	.page-about .ad-carousel h3 {font-size:32px}
	.page-about .ad-carousel p {font-size:16px}
}
  
@media only screen and (max-width: 992px) {
    
}
  
  
/* ==============================
   Tablet Portrait
   ============================== */
  
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 767px) {
 
}


/* ==============================
   Phone
   ============================== */
  
@media only screen and (max-width: 480px) {

}


/* ==============================
   Small Phone
   ============================== */
  
@media only screen and (max-width: 320px) {

}


/* ==============================
   Max Height 768
   ============================== */

@media only screen and (max-height: 767px) {

}
