.page-collections .banner {
	height:100vh;
	background:url(../../static/images/collections/bgCover.jpg) no-repeat center;
	background-size:cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 98%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 98%);
}
.page-collections .bg-under {
	position:absolute;
	transform: translateY(-45%);
	width:100%;
	height: 880px;
	background:url(../../static/images/collections/bgSand.jpg) no-repeat center;
	background-size:cover;
	z-index:-1;

}
.page-collections .bg-stone {
	width:100%;
	background:url(../../static/images/collections/bgStone.png) no-repeat left top;
	background-size:cover;
	margin-top:100px;
	padding-bottom:20vh;
}

/* main promo */
.page-collections .discount {position:absolute;right:2%;bottom:4%;;text-align:right;}
.page-collections .leaf-r, .page-collections .leaf-l {position:absolute;}

.page-collections .leaf-r {top:15%;right:20%;}
.page-collections .leaf-l {top:40%;}
/* main promo end */


/* 1 */
.page-collections .square {
	float:right;
	width:100%;
	height:1252px;
	background:url(../../static/images/collections/bg_new1_square.jpg) no-repeat center right;
	clear:both;
}
.page-collections .intro1 {position:absolute;left:10%;transform:translateY(90%);}
/* end 1 */
.page-collections .space.l {margin:80px 0;}
/* 2 */
.page-collections .circle {
	width:1200px;
	height:1200px;
	left:0;
	margin-left:10px;
	background:url(../../static/images/collections/bg_new2_circle.jpg) no-repeat center left;
	background-size:cover;
	border-radius:1000rem;
}
.page-collections .intro2 {position:absolute;right:7%;top:30%}
/* end 2 */


/* text style */
.page-collections .discount h3,
.page-collections .discount .description,
.page-collections h3.title,
.page-collections p.description {color:#574c45;}

.page-collections .series h3,
.page-collections .series .description {color:#fff}

.page-collections .discount h3,
.page-collections h3.title,
.page-collections .series h3 {margin-bottom:10px;font-size:53px;font-weight:700;}

.page-collections .discount .description,
.page-collections p.description,
.page-collections .series p {margin-bottom:30px;font-size:27px;line-height:2;font-weight:500; /*medium*/}

.page-collections p.description,
.page-collections .series p {margin:20px 0 140px;font-weight:500; /*medium*/}
/* text style end */

.page-collections .series h3 {margin-right:10px}
.page-collections .modal-btn-comfirm {margin-right:0;}

.page-collections.series1 {width:100%;transform:translateY(-10%);}

.page-collections .bg-under-2 {
	width:100%;
	height:1000px;
	background:url(../../static/images/collections/bgBracelet.jpg) no-repeat center;
	background-size:cover;
	-webkit-clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 88%);
    clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 88%);
}

.page-collections .bg-stone-2 {
	position:relative;
	width:100%;
	height:1000px;
	background:url(../../static/images/collections/bgStone2.png) no-repeat bottom;
	background-size:cover;
	padding-top: 100px;
	transform: translateY(-22%);
	-webkit-clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
}

.page-collections #album {
    padding-top:5px;
	height: calc(100vh * 0.57);
}
.page-collections #album div img {border-radius:100rem;box-shadow:0 2px 6px rgba(0, 0, 0, 0.7);}



.page-collections .series {bottom:30%;left:5%;}


.page-collections .bg-earing-bottom {
	position:absolute;
	width:100%;
	height:1264px;
	background:url(../../static/images/collections/bgEaring.jpg) no-repeat bottom;
	background-size:cover;
	z-index:-2;
	transform: translateY(45%);
}

.page-collections .subtitle {margin-bottom:40px;font-size:33px;font-weight:700} 
.page-collections .intro3 {transform: translate(40%, 68%);}


#footer.page-collections {transform: translateY(230%);}

/* btn style */
.page-collections .btn-round-fill-orange {font-size:34px;}

.page-collections .btn-round-outline-darkbrown,
.page-collections .btn-round-outline-white {font-size:34px;vertical-align:unset;}
/* btn style end */

.page-collections .slider-dot-control {text-align:center;}
.page-collections .slider-dot-control label {
	cursor:pointer;
    display:inline-block;
    border-radius:10rem;
    width:18px;
    height:18px;
    margin:10px; 
    background:#574C45;
    border:3px solid transparent; 
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.page-collections .slider-dot-control label.active {
	background:transparent;
	border:3px solid #574C45; 
}

/* Responseve */

@media only screen and (max-width:1680px) {
	.page-collections .banner {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 95%);
    	clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 95%);
    }

    .page-collections .bg-stone {margin-top:50px;}

	.page-collections .discount h3,.page-collections h3.title,.page-collections .series h3 {margin-bottom:20px;font-size:40px;}
	.page-collections .discount .description,.page-collections p.description,.page-collections .series .description {margin-bottom:30px;font-size:20px;}
	.page-collections p.description {margin-top:20px;margin-bottom:50px}


	.page-collections .square {
		width:750px;
		height:750px;
		background-position:left;
		background-size:contain;
	}
	.page-collections .intro1 {transform:translateY(80%);}


	.page-collections .circle {width:780px;height:780px;}
	

	.page-collections .bg-under-2 {height:760px;}

	.page-collections .intro3 {transform: translate(30%, 55%);}

}

@media only screen and (max-width:1440px) {

	.page-collections .banner {
	    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 95%);
	    clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 95%);
	}

	.page-collections #albumContainer{width:100%}
	.page-collections .bg-under {height:780px;transform: translateY(-55%);}

	.page-collections .discount {right:3%;bottom:7%;}
	.page-collections .leaf-r {top:20%;right:20%;}
	.page-collections .leaf-l {width:50%;top:50%;}

	.page-collections .bg-stone-2 {height:768px;}

	.page-collections .bg-earing-bottom {height:960px;transform:translateY(50%);}
	#footer.page-collections {transform: translateY(210%);}

	.page-collections .discount h3, .page-collections h3.title, .page-collections .series h3 {font-size:36px;}
	.page-collections .subtitle {font-size:24px;}
	.page-collections .discount .description, .page-collections p.description, .page-collections .series .description {font-size:18px;}

	.page-collections .btn-round-fill-orange, .page-collections .btn-round-outline-darkbrown, .page-collections .btn-round-outline-white {font-size:24px;}
}

@media only screen and (max-width:1366px) {
	.page-collections .bg-stone-2 {height: 1000px;}
	.page-collections .bg-earing-bottom {transform: translateY(67%);}
}

@media only screen and (max-width:1280px) {
	.page-collections .banner {	    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 95%);
	    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 95%);}

	.page-collections .bg-stone-2 {height:768px;padding-top:80px;}
	.page-collections .bg-earing-bottom {transform: translateY(67%);}
	.page-collections .bg-earing-bottom {height:960px;transform:translateY(50%);}
}

@media only screen and (max-width:1024px) {
	.page-collections .banner {height:95vh;}

	.page-collections .discount {bottom:0;}
	.page-collections .leaf-r {width:20%;top:35%;right:22%;}
	.page-collections .leaf-l {width:35%;}

	.page-collections .square {width:640px;height:640px;}
	.page-collections .circle {width:640px;height:640px;}

	.page-collections p.description {margin-bottom:30px;}

	.page-collections .discount h3, .page-collections h3.title, .page-collections .series h3 {font-size:32px;}
	.page-collections .discount .description, .page-collections p.description, .page-collections .series .description {font-size:16px;}
	.page-collections .btn-round-fill-orange, .page-collections .btn-round-outline-darkbrown, .page-collections .btn-round-outline-white {font-size:20px;}

	.page-collections .bg-stone-2 {
	    height: 600px;
	    transform: translateY(-30%);
	}
	.page-collections .bg-earing-bottom {
	    transform: translateY(30%);
	}

	.page-collections .intro3 {
	    transform: translate(30%, 65%);
	}

}

@media only screen and (max-width:768px) {

	.page-collections .banner {
		height:50vh;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 95%);
		clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 95%);
	}

	.page-collections .bg-stone {margin-top:30%;padding-bottom: 15vh;}

	.page-collections .discount {
	    right: 0;
	    left: 0;
	    bottom: 0;
	    text-align: center;
	    transform: translateY(90%);
	}

	.page-collections .leaf-r {top:15%;right:0%;}

	.page-collections .square {width:480px;height:466px;}
	.page-collections .circle {width:460px;height:460px;}

	.page-collections .intro1 {left:6%;transform:translateY(40%);}
	.page-collections .intro2 {top:20%;}



	.page-collections .bg-under-2 {height:640px;}
	.page-collections .bg-stone-2 {height:600px;transform:translateY(-30%);}
	.page-collections .bg-earing-bottom {height:640px;transform: translateY(50%);}
	.page-collections .intro3 {transform:translate(26%, 40%);}
	#footer.page-collections {transform:translateY(105%);}

	.page-collections #album {padding:0;padding-top: 5px;height: calc(100vh * 0.28);}


}

@media only screen and (max-width:480px) {

	.page-collections .banner {
		height:35vh;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
	}

	.page-collections .bg-under {height:350px;transform: translateY(-35%);}

	.page-collections .leaf-r {width:30%;top:0;right:0}
	.page-collections .leaf-l {width:45%;top:50%;left:-15%;}
	.page-collections .discount {right:0;left:0;bottom:0;text-align:center;transform:translateY(90%);}


	/* btn style */
	.page-collections .btn-round-fill-orange {font-size:14px;}
	.page-collections .btn-round-outline-darkbrown,.page-collections .btn-round-outline-white {border-width:2px;font-size:14px;}
	/* btn style end */


	/* text style */
	.page-collections h3.title, .page-collections .series h3 {
    	margin-bottom:0;
    	font-size:18px;
	}
	.page-collections .discount .description,
	.page-collections p.description,
	.page-collections .series .description {
	    margin-top:10px;
	    margin-bottom:20px;
	    font-size:9px;
	}
	.page-collections p.description {margin-bottom:30px;}
	.page-collections h3.title {margin-bottom:10px;}
	.page-collections .subtitle {
	    margin-bottom:25px;
	    font-size:10px;
	}


	.page-collections .discount h3 {margin-bottom:10px;font-size:26px;}
	.page-collections .discount .description {font-size:13px;}
	/* text style end */


	.page-collections.rock-top {margin-top:40%;}
	.page-collections .square {
		width:210px;
		height:298px;
		background: url(../../static/images/collections/bg_new1_square_m.jpg) no-repeat center left;
	}

	.page-collections .circle {width:240px;height:240px;margin-left:10px;}

	

	.page-collections .intro1 {left:4%;transform: translateY(35%);}
	.page-collections .intro2 {top:0;}

	.page-collections .bg-stone {padding-bottom: 15vh;}
	.page-collections .bg-under-2 {
	    height:480px;
		-webkit-clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0% 88%);
	    clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0% 88%);
	}
	.page-collections .bg-stone-2 {
		height:440px;
	    -webkit-clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0% 100%);
	    clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0% 100%);
		padding-top: 60px;
	}
	.page-collections .series {bottom:20%;left:8%;}

	.page-collections .container.blank {margin-top:20px;padding:0;}


	.page-collections .intro3 {
    	transform: translate(25%, 50%);
	}

	.page-collections .bg-earing-bottom {
		height:440px;
		transform: translateY(58%);
		background-position-x: left;
	}

	#footer.page-collections {
	    transform: translateY(90%);
	}

	.page-collections .slider-dot-control {margin-top:25px;}
	.page-collections .slider-dot-control label {
	    width:12px;
	    height:12px;
	    margin:6px; 
	    border:2px solid transparent; 
	}
	.page-collections .slider-dot-control label.active {
		border:2px solid #574C45; 
	}

	.page-collections .space.l {margin:50px 0;}
	
}

@media only screen and (max-width:375px) {
	.page-collections .circle {width:210px;height:210px;}
}

@media only screen and (max-width:320px) {
		.page-collections .leaf-r {top:8%;}
		.page-collections .discount {transform: translateY(105%);}
		.page-collections .bg-stone {margin-top:50%;padding-bottom:25vh;}
		.page-collections .square {width:160px;background-size:cover}
		.page-collections .space.l {margin:70px 0;}
		.page-collections .circle {width:168px;height:168px;}

		.page-collections #album {height: calc(100vh * 0.3);}
		.page-collections .bg-stone-2 {height:360px;padding-top:40px;}
		.page-collections .bg-earing-bottom {transform:translateY(40%);}
}