.page-contact.banner {height:350px;background:url(../../static/images/contact/banner-contact.jpg) no-repeat center center;}

.page-contact .blank.mainTitleBlock {position:absolute;bottom:0;}
.page-contact.contact-info {background-color:#fff7f0;}
.page-contact.answerZone {background-color:#e8e8e8}


.page-contact h1.mainTitle {font-size:42px;font-weight:bold;}
.page-contact h2.subTitle {margin-top:17px;margin-bottom:0;font-size:32px;font-weight:700;color:#6a3906}

.page-contact.contact-info p {margin:45px 0 60px;line-height:1.2;font-size:20px;font-weight:bold}

.page-contact .speechBubble {position:absolute;right:75px}

.page-contact .faqItem {margin:45px -15px 0}
.page-contact .faqItem .label {display:inline-block;margin:15px;padding:10px 25px;line-height:1;background:#A8A8A8;border-radius:10rem;font-size:20px;color:#fff;font-weight:500;cursor:pointer;transition: all 0.2s ease-in-out;}
.page-contact .faqItem .label:hover, .page-contact .faqItem .label.active {background:#ff9933;color:#fff}
.page-contact .faqItem .label:active {box-shadow: 0 0 0 0.25rem rgba(255, 152, 51, 0.3);}
.page-contact .faqItem .label a {text-decoration:none}
.page-contact .faqItem .line {margin:35px 15px;border-top:3px solid #c7c7c7}

.page-contact.answerZone .label-title {position:relative;display:inline-block;margin:15px;padding:10px 30px;line-height:1;background:#ff9933;border-radius:10rem;font-size:20px;color:#fff;font-weight:500;}
.page-contact p.answerContent {margin:30px 15px 40px;line-height:2;font-size:20px}
.page-contact .ic-arrowUp {position:absolute;top:45px;right:50px}
.container.blank {padding:80px 68px;}
#m-contactInfo {display:none}


/* Responseve */

@media only screen and (max-width: 1680px) {

}

@media only screen and (max-width: 1440px) {
	.page-contact.banner {height:280px;}

	.page-contact .blank.mainTitleBlock {padding:50px 68px 35px;}

	.page-contact .speechBubble {width:90px;bottom:-68px;right:50px;}

	.page-contact h1.mainTitle {font-size:36px}
	.page-contact h2.subTitle {font-size:24px}
	.page-contact .faqItem .label {font-size:18px;}
	.page-contact.contact-info p {font-size:18px}

	.page-contact.answerZone .label-title {font-size:20px;}
	.page-contact p.answerContent {font-size:18px}
	.page-contact .ic-arrowUp {width:45px;top:18%;right:5%;}


}

@media only screen and (max-width: 1366px) {

} 
@media only screen and (max-width: 1280px) {

}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {
	.page-contact.banner {height:270px;}
	.page-contact .blank.mainTitleBlock {padding:50px 45px 35px;}
	.page-contact h1.mainTitle {font-size:30px;}
	.page-contact .speechBubble {width:75px;bottom:-58px;right:40px;}
	.page-contact h2.subTitle {font-size:22px;}
	.page-contact .faqItem {margin:30px -15px 0;}
	.page-contact .faqItem {margin: 30px -10px 0;}
	.page-contact .faqItem .label {margin:15px 10px;font-size:16px;}
	.page-contact .ic-arrowUp {width:40px;}
	.container.blank {padding:35px 45px;}
	.page-contact.answerZone .label-title {font-size:18px;}
	.page-contact p.answerContent {font-size:16px;}
}

/* ==============================
   Tablet Portrait
   ============================== */

@media only screen and (max-width: 768px) {

}

/* ==============================
   Phone
   ============================== */
  
@media only screen and (max-width: 480px) {

	.page-contact .blank.mainTitleBlock {padding:40px 25px;}
	.container.blank {padding:85px 25px 40px;}
	.page-contact.banner {height:240px;}
	.page-contact h1.mainTitle {font-size:28px;}
	.page-contact h2.subTitle {font-size:22px;}
	.page-contact .speechBubble {width:60px;bottom:-45px;right:25px;}

	.page-contact .faqItem {margin:30px -5px 0;}
	.page-contact .faqItem .line {margin:25px 5px;border-top:2px solid #c7c7c7;}
	.page-contact .faqItem .label {margin:10px 5px;padding:8px 20px;font-size:14px;}	

	.page-contact .ic-arrowUp {width:30px;top:13%;right:7%;}

	.page-contact.answerZone .label-title {font-size:18px;}
	.page-contact p.answerContent {font-size:16px;}

	#contactInfo {display:none}
	#m-contactInfo {display:block}

	.page-contact .info-email img, .page-contact .info-phone img {width:48px;}
	.page-contact .info-email h3,.page-contact .info-phone h3 {margin-top:20px;font-size:18px;font-weight:bold}
	.page-contact .info-email p,.page-contact .info-phone p {margin:20px 0 0;font-size:13px}
}


/* ==============================
   Small Phone
   ============================== */
  
@media only screen and (max-width: 320px) {

}