.container.menu , .mask-header {
	pointer-events:none;
}

.page-customization .fit-100vh {min-height:-webkit-fill-available;overflow:hidden;}

.page-customization.banner {height:15vh;background:url(../../static/images/customization/bg_header.jpg) no-repeat;background-size:cover;pointer-events:none;}


/* cus-menu */
.page-customization.cus-menu .grid {
  position:relative;
  height:42.5vh;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

.page-customization.cus-menu .cus-item {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-weight:700;
  color:#574c45;
  font-size: 28px;
}
.page-customization.cus-menu .cus-item div {display:inline-block;margin:0 .125rem;text-decoration:underline;cursor:pointer;}

.page-customization.cus-menu #cus-wristband {
  background-image: url(../../static/images/customization/bg-wristband_menu.jpg);
}
.page-customization.cus-menu #cus-bracelet {
  background-image: url(../../static/images/customization/bg-bracelet_menu.jpg);
}
.page-customization.cus-menu #cus-earring {
  background-image: url(../../static/images/customization/bg-earring_menu.jpg);
}
.page-customization.cus-menu #cus-necklace {
  background-image: url(../../static/images/customization/bg-necklace_menu.jpg);
}
.page-customization.cus-menu #cus-ring {
  background-image: url(../../static/images/customization/bg-ring_menu.jpg);
}
.page-customization.cus-menu #cus-anklet {
  background-image: url(../../static/images/customization/bg-anklet_menu.jpg);
}

/* cus-menu end */

.page-customization .workbench {position:relative;height:85vh;overflow: hidden;}
.page-customization .wood {background:url(../../static/images/customization/bg_wood.jpg) no-repeat;background-size:cover;}


.page-customization #zoneControl {position:absolute;bottom:0;padding:2rem;}
.page-customization #zoneControl .btn-shadow {
	display:table;
	margin: 1rem 0;
	border-radius:100rem;
	box-shadow:0 2px 10px rgba(0, 0, 0, 0.5);
	background-color:#fff;
	cursor:pointer;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration:400ms;
}

.page-customization #zoneControl .btn-shadow:hover {
	-webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

/* bg item prepare */
.page-customization #bg-zonePrepare, .page-customization #obj-prepared {position:absolute;bottom:0;right:0;}
.page-customization #bg-zonePrepare{transition: all ease-in 200ms;}

.page-customization .bg-circle {width:30%;text-align:right;}

/* bg item prepare end */


/* scale object */
.page-customization .obj-scale {height:100%;}  




.page-customization #obj-center .item-container,
.page-customization #obj-prepared img {max-width: none;}


.page-customization #obj-prepared {
  z-index:2;
  width: 28%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 200ms;
}


.page-customization #obj-scale-1::-webkit-scrollbar { width: 0 !important ; height: 0 !important; display: none; }
.page-customization #obj-scale-1 {
	-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    overflow: scroll;
    padding: 2vh 2vh 2vh 2vh;
    
}


.page-customization .space-circle {width:35%;}

/* scale obj center */
.page-customization #obj-center .item-container img {max-width:unset;}	

.page-customization #obj-center .item-container{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
	position:absolute;
	display: flex;
    justify-content: center;
    margin:0px auto;
}

.page-customization #obj-center .item-container.active .frame { 
	position:absolute; 
	border:4px solid #75efff;
	width:100%;
	height:100%; 
	top:0px;
	z-index : 30;
  }
  

  .page-customization #obj-center .item-container.active .node {
    position:absolute;
    width:12px;
    height:12px;
    background-color:#fff;
    border-radius:10rem;
    z-index : 35;
  }

  .page-customization #obj-center .item-container.active .btn-item-close {
    position:absolute;
    top:-24px;
    right:-24px;
    width:3rem;
    height:3rem;
    background:url(../../static/images/customization/ic-item-close.svg) no-repeat center #fff;
    box-shadow:0 0 6px rgba(0,0,0,.3);
    border-radius:100rem;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    z-index : 35;
  }

  .page-customization #obj-center .item-container.active .node.top-r {
    top:-5px;
    right:-5px;
    z-index : 35;
  }

  .page-customization #obj-center .item-container.active .node.top-l {
    top:-5px;
    left:-8px;
    z-index : 35;
  }

  .page-customization #obj-center .item-container.active .node.bottom-r {
    bottom:-8px;
    right:-5px;
    z-index : 35;
  }

  .page-customization #obj-center .item-container.active .btn-item-setting {
    position:absolute;
    bottom:-24px;
    left:-24px;
    width:3rem;
    height:3rem;
    background:url(../../static/images/customization/ic-item-setting.svg) no-repeat center #fff;
    box-shadow:0 0 6px rgba(0,0,0,.3);
    border-radius:100rem;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    z-index : 35;
  }

  .page-customization #obj-center .item-container.active .btn-item-setting:hover,
  .page-customization #obj-center .item-container.active .btn-item-close:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }

/* 項鍊在pc時縮小倍率 */
/* 
 Here should be set from program dynamically
*/
.page-customization #obj-scale-2 #obj-prepared img  ,
.page-customization #obj-scale-1 #obj-center {transform:scale(0.83);}

.page-customization #obj-center { 
	transform-origin: center center; 
	width:100%; 
	height:165%; 
	text-align: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    margin:0px auto;
} 

/* 項鍊在pc時縮小倍率 */


/* scale obj center  end */


/* scale object end */


/* itemChoose */
.page-customization .itemChoose-wrapper{overflow:hidden;transition: all ease-in 200ms;}
.page-customization .itemChoose-wrapper.expand{transition: all ease-out 200ms;}

.page-customization .itemChoose {height:80vh;}
.page-customization .itemChooseTop {background:url(../../static/images/customization/bg_itemChoose_top.jpg) no-repeat;background-size:cover;}
.page-customization .itemChooseBottom {overflow:auto;background:url(../../static/images/customization/bg_itemChoose_bottom.jpg) no-repeat;background-size:cover;}

/* cate tab */
.page-customization #itemTab {overflow:hidden;font-size:0;line-height:2;}
.page-customization #itemTab .itemTabInner {overflow:auto;}
.page-customization #itemTab .itemTabInner::-webkit-scrollbar {width:0!important;height:0!important;}
.page-customization #itemTab .itemTabInner {
	-ms-overflow-style: none; /* IE 11 */
	scrollbar-width: none; /* Firefox 64 */
}


    /*
	.page-customization .itemTabInner a:nth-child(1) {background-color:#ded9d5;}
	.page-customization .itemTabInner a:nth-child(2) {background-color:#f0ece6;}
	.page-customization .itemTabInner a:nth-child(3) {background-color:#fff;}
    .page-customization .itemTabInner a:nth-child(4) {background-color:#ded9d5;}
    .page-customization .itemTabInner a:nth-child(5) {background-color:#f0ece6;}
    .page-customization .itemTabInner a:nth-child(6) {background-color:#fff;}
    */

	/* itemSelect */
	.page-customization #itemSelect {position:relative;white-space:nowrap;transform:translateY(2vh);box-shadow: 0 0 8px rgba(0, 0, 0, .5);}
	.page-customization .itemTabCtrl {position:absolute;bottom:0;height:100%;display:flex;align-items: center;}

	.page-customization #itemTab .tab {display:inline-block;color:#574c45;font-weight:500;padding:1rem 3rem;font-size:19px;}

	.page-customization .itemTabCtrl {display:inline-flex;height:100%;width:5vw;align-items:center;justify-content:center;}

    .page-customization .itemTabCtrl.prev {background-image: linear-gradient(to right, rgba(0,0,0,0.5) , rgba(0,0,0,0));}
    .page-customization .itemTabCtrl.next {right:0;background-image: linear-gradient(to left, rgba(0,0,0,0.5) , rgba(0,0,0,0));}
	/* itemSelect end */


    /* drag menu */
    .page-customization #itemSelect .grid-item {
      color: #fff;
      padding: 3.5em 1em;
      font-size: 1em;
      font-weight: 700;
    }

    .page-customization #itemSelect .main {
      color: #959595;
      grid-area: main;
      padding: 0;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .page-customization #itemSelect .items {
      position: relative;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      transition: all 0.2s;
      transform: scale(0.98);
      will-change: transform;
      user-select: none;
      cursor: pointer;
      font-size: 0;
    }

    .page-customization #itemSelect .items::-webkit-scrollbar {width:0!important;height:0!important;}
    .page-customization #itemSelect .items{
		-ms-overflow-style: none; /* IE 11 */
	    scrollbar-width: none; /* Firefox 64 */
	}

    .page-customization #itemSelect .items a {color: #574c45;}


    .page-customization #itemSelect .items.active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(1);
    }

    .page-customization #itemSelect .item {
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 1rem;
    }

    /*XD*/
    .page-customization #itemSelect .item:nth-child(1) {background-color:#ded9d5;}
    .page-customization #itemSelect .item:nth-child(2) {background-color:#f0ece6;}
    .page-customization #itemSelect .item:nth-child(3) {background-color:#fff;}
    .page-customization #itemSelect .item:nth-child(4) {background-color:#ded9d5;}
    .page-customization #itemSelect .item:nth-child(5) {background-color:#f0ece6;}
    .page-customization #itemSelect .item:nth-child(6) {background-color:#fff;}
    .page-customization #itemSelect .item:nth-child(7) {background-color:#ded9d5;}
    .page-customization #itemSelect .item:nth-child(8) {background-color:#f0ece6;}
    .page-customization #itemSelect .item:nth-child(9) {background-color:#fff;}
    .page-customization #itemSelect .item:nth-child(10){background-color:#ded9d5;}
    .page-customization #itemSelect .item:nth-child(11){background-color:#f0ece6;}
    .page-customization #itemSelect .item:nth-child(12){background-color:#fff;}
    .page-customization #itemSelect .item:nth-child(13){background-color:#ded9d5;}
    .page-customization #itemSelect .item:nth-child(14){background-color:#f0ece6;}
    .page-customization #itemSelect .item:nth-child(15){background-color:#fff;}

    .page-customization #itemSelect .item:first-child {padding-left:4rem;}
    .page-customization #itemSelect .item:last-child {padding-right:4rem;}
    /* drag menu end */




	/* cate tab end */


	.page-customization #zoneGuide {
		position:absolute;
		bottom:0;
		right:0;
		width:40%;
		box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);
		cursor:pointer;
	}

	.page-customization #zoneGuide .ic-lookbook,
	.page-customization #zoneGuide .ic-question {padding:.15rem;background-color:#e3ded6;}

	.page-customization #zoneGuide .ic-search,
	.page-customization #zoneGuide .ic-cart {padding:.15rem;background-color:#f0ede6;}

	.page-customization #zoneGuide .ic-cart.disabled img {opacity:.35;}

/* itemChoose end */




.page-customization .itemName {text-align:center;padding-top:2rem;padding-bottom:1rem;}

.page-customization .flexContainer {overflow:auto;height:70vh;padding:.25rem;padding-bottom:3rem;transition: all ease-in 200ms;}
.page-customization .expand .flexContainer {transition: all ease-out 200ms;}
.page-customization .flexContainer::-webkit-scrollbar {width:0!important;height:0!important;}
.page-customization .flexContainer{
		-ms-overflow-style: none; /* IE 11 */
	    scrollbar-width: none; /* Firefox 64 */
}

.page-customization .flexbox {margin-bottom:3rem;}



.page-customization .flexbox>div {display:inline-block;margin:.25rem;}
.page-customization .flexbox>div>img {max-height:10vh;height:18vh;min-height:5vh;}

.page-customization .nextCate {display:-webkit-box;margin:0 2rem;}




/* workmenuuuuuuu */

  .page-customization .workmenu {position:absolute;right:0;width:6vw;height:60vh;z-index:5;transition: transform ease-in 200ms;}

  .page-customization .workmenu-item, .workmenu-open-button {
    background:#fff;
    color:#000;
    border-radius:100%;
    width:3rem;
    height:3rem;
    position:absolute;
    top:2rem;
    right:2rem;
    color:#333;
    text-align:center;
    line-height:4rem;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  }

  .page-customization .workmenu-open {display:none;}

  .workmenu .triangle {
    display:inline-block;
    margin-bottom:28px;
    vertical-align:middle;
  }

  .triangle-top {
    width:28px;
    height:20px;
    border-bottom: solid 14px #7A6F62;
    border-left: solid 14px transparent;
    border-right: solid 14px transparent;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    transition:-webkit-transform 200ms;
    transition:transform 200ms;
    transition:transform 200ms, -webkit-transform 200ms;
  }

  .workmenu-open:checked + .workmenu-open-button .triangle-top {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  .workmenu .ellipsis {
    width:7px;
    height:7px;
    border-radius:10rem;
    background:#7A6F62;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-3px;
    margin-top:-3px;
    transition:-webkit-transform 200ms;
    transition:transform 200ms;
    transition:transform 200ms, -webkit-transform 200ms;
  }

  .workmenu .ellipsis-1 {
    -webkit-transform: translate3d(-12px, 0, 0);
            transform: translate3d(-12px, 0, 0);
  }

  .workmenu .ellipsis-2 {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .workmenu .ellipsis-3 {
    -webkit-transform: translate3d(12px, 0, 0);
            transform: translate3d(12px, 0, 0);
  }

  .workmenu-open:checked + .workmenu-open-button .ellipsis-1 {
    -webkit-transform: translate3d(0, 0, 0) scale(0, 0);
            transform: translate3d(0, 0, 0) scale(0, 0);
  }
  .workmenu-open:checked + .workmenu-open-button .ellipsis-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0, 0);
            transform: translate3d(0, 0, 0) scale(0, 0);
  }
  .workmenu-open:checked + .workmenu-open-button .ellipsis-3 {
    -webkit-transform: translate3d(0, 0, 0) scale(0, 0);
            transform: translate3d(0, 0, 0) scale(0, 0);
  }



  .page-customization .workmenu-item:hover {background:#FF9933;color:#fff;}
  .page-customization .workmenu-item:nth-child(3) {transition-duration:180ms;}
  .page-customization .workmenu-item:nth-child(4) {transition-duration:180ms;}
  .page-customization .workmenu-item:nth-child(5) {transition-duration:180ms;}
  .page-customization .workmenu-item:nth-child(6) {transition-duration:180ms;}


  .page-customization .workmenu-open-button {
    z-index:10;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    cursor: pointer;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
  }

  .page-customization .workmenu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
            transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }

  .workmenu-open:checked + .workmenu-open-button {
    transition-timing-function: linear;
    transition-duration:200ms;
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
  }

  .workmenu-open:checked ~ .workmenu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.35);
  }
  .workmenu-open:checked ~ .workmenu-item:nth-child(3) {
    transition-duration:190ms;
    -webkit-transform:translate3d(0, 3.5rem, 0);
            transform:translate3d(0, 3.5rem, 0);
  }
  .workmenu-open:checked ~ .workmenu-item:nth-child(4) {
    transition-duration:290ms;
    -webkit-transform:translate3d(0, 7rem, 0);
            transform:translate3d(0, 7rem, 0);
  }
  .workmenu-open:checked ~ .workmenu-item:nth-child(5) {
    transition-duration:390ms;
    -webkit-transform:translate3d(0, 10.5rem, 0);
            transform:translate3d(0, 10.5rem, 0);
  }
  .workmenu-open:checked ~ .workmenu-item:nth-child(6) {
    transition-duration:490ms;
    -webkit-transform:translate3d(0, 14rem, 0);
            transform:translate3d(0, 14rem, 0);
  }


  .workmenu-item .cus {width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:contain;}
  .workmenu-item .cus.ic-link {background-image:url(../../static/images/customization/ic-link.svg);}
  .workmenu-item .cus.ic-link:hover {background-image:url(../../static/images/customization/ic-link-w.svg);}

  .workmenu-item .cus.ic-eye {background-image:url(../../static/images/customization/ic-eye.svg);}
  .workmenu-item .cus.ic-eye:hover {background-image:url(../../static/images/customization/ic-eye-w.svg);}

  .workmenu-item .cus.ic-redo {background-image:url(../../static/images/customization/ic-redo.svg);}
  .workmenu-item .cus.ic-redo:hover {background-image:url(../../static/images/customization/ic-redo-w.svg);}

  .workmenu-item .cus.ic-undo {background-image:url(../../static/images/customization/ic-undo.svg);}
  .workmenu-item .cus.ic-undo:hover {background-image:url(../../static/images/customization/ic-undo-w.svg);}
/* ------ workmenuuuuuuu end ------ */



/* popover */

  .qs {position:relative;display:block;height:100%;vertical-align:text-bottom;cursor:pointer;}
  .qs .popover {
    position: absolute;
    width:105px;
    background-color: #ff9733;
    border-radius: 5px;
    left:-2.65rem;
    bottom:2.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 7px 10px;
    z-index: 4;
  }
  .qs .popover:before {
    border-top: 7px solid #ff9733;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
  }
  .qs:hover .popover {
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
  }

  .page-customization .btn-item-close .qs .popover,
  .page-customization .btn-item-setting .qs .popover {width:85px;left:-1.25rem;bottom:4rem;font-size:16px;}

  .qs .popover.right {width:118px;height:2rem;left:4rem;top:0.25rem;}
  .qs .popover.right:before {transform: rotate(90deg);left: -18%;top: -15%;}
  
  .qs .popover.right.size-s {width:85px;}
  .qs .popover.right.size-s:before

  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes move-up {
    from {
      bottom:2rem;
    }
    to {
      bottom:4rem;
    }
  }
  @-moz-keyframes move-up {
    from {
      bottom:2rem;
    }
    to {
      bottom:4rem;
    }
  }
  @-ms-keyframes move-up {
    from {
      bottom:2rem;
    }
    to {
      bottom:4rem;
    }
  }


/* popover end */





.page-customization.popup-outer {
  position:relative;
  width:100%;
  z-index:85;
}


.page-customization.modal-mask {z-index:80;}
.modal_all .general#filterPopup .container {right: 0;}

.height-100 {height:100%}



/* Item Size and Color Setting */
  .page-customization .line-option {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(122, 106, 86, 0.25);
    text-align: left;
    font-weight:700;
    color:#564B45;
    font-size:20px;
  }

  .page-customization .popup-setting {
    max-width:400px;
    width:90%;
    position:absolute;
    left:50%;top:50%;
    background-color:#EBE2DF;
    z-index:85;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%);
  }

  .page-customization .zone-option {
    display:flex;
    justify-content:center;
    padding:.65rem;
    border-bottom: 1px solid rgba(122, 106, 86, 0.25);
    cursor:pointer;
  }

  .page-customization .zone-option .option {
    margin:.5rem;
    padding:.215rem 1.25rem;
    border-radius:100rem;
    border:5px solid transparent;
    background-color:#FFFFFF;
    font-size:16px;font-weight:500;
  }


  .page-customization .zone-option .option.active {border:5px solid #5F5853;}
  .page-customization .zone-color-img {position:relative;overflow:auto;padding:1rem 0;}
  .page-customization .scroll-container {white-space: nowrap;overflow:auto;padding-bottom: 1rem;}
  .page-customization .zone-color-img .img {display:inline-block;width:25%;border: 5px solid transparent;}
  .page-customization .zone-color-img .img.active {border: 5px solid #5F5853;}
  .page-customization .zone-color-img .img:first-child {margin-left:2rem;}
  .page-customization .zone-color-img .img:last-child {margin-right:2rem;}

  .page-customization .img-slide {
    position:absolute;top:0;bottom:0;width:12%;height:80%;display:flex;justify-content: center;align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) , rgba(0,0,0,0));
  }
  .img-slide.next {right:0;background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3) , rgba(0,0,0,0));}

  .page-customization .popup-setting .btn-round-fill-orange {width:30%;margin: 1rem;padding:10px 10px;line-height:1;}


  .page-customization #gotoCartPopup {position:relative;}

  .page-customization #gotoCartPopup .inner {
    position: absolute;
    width: 347px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,25%);
    padding: .5rem;
    background-color: #EBE3DF;
    box-shadow: 0 2px 20px rgba(0,0,0,.35);
  }
/* Item Size and Color Setting end */



/* Lettering Item */
  #letteringPopup .page-customization .container {text-align:center;}

  #letteringPopup.popup-center {
    position:absolute;
    top:50%;
    left: calc(50% - 210px);
  }

  .page-customization .lettering-sample {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    font-weight: 700;
    transform: translate(-50%, -50%);
    max-width: 260px;
  }

  .page-customization .lettering-input-container {
    position: absolute;
    width: 400px;
    height: 174px;
    left: 50%;
    top: 50%;
    transform: translate(-200px, 174px);
    padding: 3rem 2rem 2rem;
    background: url(../../static/images/customization/bg-input-container.svg) no-repeat center;
  }
  .page-customization .lettering-input-container input {
    width: 100%;
    padding: .5rem;
    height: calc(2.5rem + 4px);
    font-weight: 700;
    outline: 0;
    border: 0;
  }

  .page-customization .lettering-input-container .btn-group {margin:1rem 0;text-align: center;}
  .page-customization .lettering-input-container .btn-group button {
    width:40%;
    border-radius:100rem;
    margin:0 .25rem;
    padding:.5rem 1rem;
    font-size:16px;
    font-weight:700;
    color:#858380;
    background: #fff;
    outline:0;
    border:0;
  }
/* Lettering Item end */



/* LookBook */
  .page-customization #lookbookPopup .container {
    position:absolute;
    max-width:720px;
    width: 90%;
    padding:4rem 1rem;
    background-color:#EBE3DF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    left: calc(50% - 360px);
    top: calc(50% + 8vh);
  }
  
  .page-customization #lookbookPopup .closePopup {position:absolute;top:1rem;right:1rem;z-index:10;}
  .page-customization #lookbookPopup .closePopup img {width:32px;}
  .page-customization #lookbookPopup .title {font-size:20px;font-weight:700;color:#554A44;margin-bottom:1rem;}
  .page-customization #lookbookPopup .item-name {margin:1rem;color:#554A44;font-weight:700;font-size:16px;}
  .modal-btn-comfirm {margin:0;}

  .outer-scroll {position:relative;height:456px;overflow:auto;margin:auto;text-align:center;background-color:#fff;}
  .page-customization #lookbookPopup .grid {display:inline-block;margin:.5rem;box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);border: 3px solid transparent;}
  .page-customization #lookbookPopup .grid.active {border: 3px solid #afafaf;}

  .page-customization .img-display {box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);}
  .page-customization .sample-container {display:flex;flex-wrap:wrap;justify-content:center;}
/* LookBook Item */


/* finished message */
  .page-customization #cusFinishedPopup {display:block;position:absolute;left:calc(50% - 200px);top:calc(50% + 4vh);}
  .page-customization #cusFinishedPopup .container {
    position:relative;max-width:400px;padding:4rem 1rem;
    background:url(../../static/images/customization/bg-spenttime.svg) center bottom no-repeat;
    text-align:center;
    background-size:cover;
    color:#574C45;
  }

  .page-customization #cusFinishedPopup .closePopup {position:absolute;top:1rem;right:2.5rem;width:32px;}
  .page-customization .spent-time {margin-bottom: 2rem;padding:1rem;background:#fff;box-shadow: 0 0 8px rgba(0, 0, 0, .5);font-size:20px;font-weight:700;line-height:2;}
  .page-customization .spent-time {clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 90%);}
  .page-customization .print-time {display:flex;max-width:80%;margin:auto;font-size:17px;font-weight:500;}
  .page-customization #cusFinishedPopup textarea {width:80%;margin:auto;padding:0.5rem;}
  .page-customization .sep-line {width:93%;margin:2rem auto;border-bottom: 1px solid rgba(99, 81, 75, 0.17);}
  .page-customization #cusFinishedPopup .text-area {margin-bottom:1rem;}
  .page-customization .checkbox {width:40px;height:32px;background:url(../../static/images/customization/checkbox.svg) no-repeat;cursor:pointer;}
  .page-customization .checkbox.active {background:url(../../static/images/customization/checkbox-check.svg) no-repeat;}
/* finished message end */

.page-customization .filterToFadeIn {
  opacity: 1;
  animation: filterfade .2s ease-out;
  -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective:1000;
}
  @keyframes filterfade {
      0% { opacity:0;transform: translate(0, 50px);}
      100% { opacity:1;transform: translate(0, 0);}
  }


/* size label */
.page-customization .dropDown-wrapper{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index:1;
}
/* the style for the label */
.page-customization .dropDown-toggle-label {
    position: relative;
    padding: .5rem 4rem .5rem 1rem;
    background-color:#fff7f2;
    color: #3b342f;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #baae9d;
    font-size: 13px;
    transition: opacity .2s ease;
    letter-spacing: .2px;
    margin-bottom: 0;
    /* force parent to wrap around the label tag */
    float: left;
    height: 37px;
}


/* arrow indicator on the button */
.page-customization .dropDown-toggle-label:after{
    content: "";
    display: inline-block;
    width:18px;
    height:10px;
    /* this makes the square appear as a white triangle */
    background: url(../../static/images/products/arrow_dropdown.svg);
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 35%;
}

/* hide all input fields since the labels are connected to them by the id */
.page-customization .dropDown-wrapper input{display: none;}

/* rotate the button arrow upwards */
.page-customization .dropDown-wrapper > input:checked + label:after{
    transform: rotate(180deg);
}

/* this will show dropDown when input is checked */
.page-customization .dropDown-wrapper > input:checked + label + .dropDown{
    display: inline-block;
}

/* the drop-down style*/
.page-customization .dropDown{
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 100%;
    display: none;
    background: #fff7f2;
    border:1px solid #baae9d;
}

/* the drop-down options style*/
.page-customization .dropDown label {
    display: block;
    margin:15px 20px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight:500;
    color: #786a60;
    opacity: .8;
    transition:border .1s ease;
}

/* option item on hover */
.page-customization .dropDown label:hover{
    border-bottom: 2px solid #474e5d;
    opacity: .9;
    color: #3b342f;
}

/* this shows that the list item was selected */
.page-customization .dropDown input:checked + label{opacity: 1;}

/* dropdown end */






/* ======== RWD ======== */


@media only screen and (max-width: 1440px) {
.page-customization .btn-shadow img {width:48px;}

.page-customization .bg-circle {width:28%;text-align:right;}

.page-customization .ic-lookbook img,
.page-customization .ic-question img,
.page-customization .ic-search img,
.page-customization .ic-cart img {width:36px;}

/* itemSelect */
.page-customization #itemTab .tab {padding: .5rem 1.5rem;}
/* itemSelect end */

.page-customization .itemChoose {background-position-y:0vh;}

/* cus-menu */
.page-customization.cus-menu .cus-item {font-size:18px;}


}


@media only screen and (max-width:1024px) {

}


@media only screen and (max-width: 768px) {
		
	
	#footer, #ic-menu {display:none;}
	
	
	.page-customization .workbench {height:75vh;}
	
	.page-customization #itemSelect {transform:translateY(0);}
	
	.page-customization #itemChoose-wrapper {height:25vh;}
	.page-customization .itemChoose {height:auto;}
	
	.page-customization #zoneControl {padding: 1.0rem;transition: all ease-in 200ms;}
	.page-customization #zoneControl .btn-shadow {margin:.5rem 0;}
	.page-customization .btn-shadow img {width:32px;}
	.page-customization #zoneControl .btn-shadow {}
	
	.page-customization #zoneGuide {width:100%;position:fixed;transition: all ease-in 200ms;}
	
	/* .page-customization #zoneGuide {display: none;} */
	
	.page-customization .ic-lookbook img,
	.page-customization .ic-question img,
	.page-customization .ic-search img,
	.page-customization .ic-cart img {width:26px;}
	
	
	
	.page-customization .itemName {padding:.35rem;font-size:12px;}
	
	.page-customization #itemTab .tab {font-size:16px;padding:0 1.5rem;}
	
	.page-customization .itemTabCtrl.prev, 
	.page-customization .itemTabCtrl.next {display:none;}
	
	
	.page-customization .flexContainer {overflow:auto;height:25vh;} 
	
	
/* 	old
	.page-customization .inline-flex {transform: translateY(20%);}
	
	.page-customization .nextCate img {height:20vh;}
	 */
	
	.page-customization .workmenu-item, .workmenu-open-button {right:1rem;}
	
	
	/* scale object */
	
	.page-customization #obj-center { 
		width:100%; 
		height:133vh; 
	} 
	
	.page-customization #obj-prepared {width:20%;height:25%;}
	/* scale object end */


  /* cus-menu */
  .page-customization.cus-menu {
  	overflow:hidden;
  	width:100%;
  	height:100%;
    vertical-align: bottom;
    bottom: 0;
    position: fixed;
    z-index: 100;
    background-color: #f0ece6;
  }
  .page-customization.cus-menu #cusMenuCtrl {
  	position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
  }
  
  .page-customization.cus-menu #cusMenuCtrl::before {
  	content: "";
  	
  }
  .page-customization.cus-menu .grid {height:15.5vh;}
  .page-customization.cus-menu .cus-item {font-size:18px;}
  



  /* LookBook */
    .page-customization #lookbookPopup .container {max-width:500px;left:calc(50% - 250px);}
    .page-customization .outer-scroll {height:25vh;}
    .page-customization #lookbookPopup .outer {height:100vh;}
    .page-customization .modal-btn-comfirm {margin-bottom: 1rem;}
    
    /* .page-customization .item-sample-block {margin-bottom: 7vh;} */
/*     .page-customization .modal-btn-comfirm {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 50%;
	    margin: 0px auto;
	    margin-top: 55vh;
    }
 */ 
  /* LookBook end */
  
  

}


@media only screen and (max-width: 480px) {
	
	.page-customization .btn-shadow img {width:28px;}
	
	.page-customization.banner {display:none;}
	.page-customization .inline-flex {transform: translateY(10%);}
	
	
	.page-customization .workmenu {top:1.5rem;width:20vw;height:40vh;}
	
	
	.workmenu .ellipsis {width:5px;height:5px;}
	
	.workmenu .ellipsis-1 {
	  -webkit-transform: translate3d(-8px, 0, 0);
	          transform: translate3d(-8px, 0, 0);
	}
	.workmenu .ellipsis-3 {
	  -webkit-transform: translate3d(8px, 0, 0);
	          transform: translate3d(8px, 0, 0);
	}
	.workmenu .triangle {margin-bottom:45px;}
	.workmenu .triangle-top {
	  width: 20px;
	  height: 20px;
	  border-bottom: solid 12px #7A6F62;
	  border-left: solid 10px transparent;
	  border-right: solid 10px transparent;
	}
	
	
	.page-customization .workmenu-item, .workmenu-open-button {width:2rem;height:2rem;}
	
	.workmenu-open:checked ~ .workmenu-item {
	  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
	}
	.workmenu-open:checked ~ .workmenu-item:nth-child(3) {
	  transition-duration:190ms;
	  -webkit-transform:translate3d(0, 7vh, 0);
	          transform:translate3d(0, 7vh, 0);
	}
	.workmenu-open:checked ~ .workmenu-item:nth-child(4) {
	  transition-duration:290ms;
	  -webkit-transform:translate3d(0, 14vh, 0);
	          transform:translate3d(0, 14vh, 0);
	}
	.workmenu-open:checked ~ .workmenu-item:nth-child(5) {
	  transition-duration:390ms;
	  -webkit-transform:translate3d(0, 21vh, 0);
	          transform:translate3d(0, 21vh, 0);
	}
	.workmenu-open:checked ~ .workmenu-item:nth-child(6) {
	  transition-duration:490ms;
	  -webkit-transform:translate3d(0, 28vh, 0);
	          transform:translate3d(0, 28vh, 0);
	}
	
	
	/* drag menu */
	.page-customization #itemSelect .item {padding: .4rem .8rem;font-size:0.85rem;}
	.page-customization #itemSelect .item:first-child {padding-left:1rem;}
	.page-customization #itemSelect .item:last-child {padding-right:1rem;}
	/* drag menu end */
	
	
	/* scale object */
	/* .page-customization #obj-scale-1 {}
	.page-customization #obj-scale-2 {}
	.page-customization #obj-scale-3 {}
	.page-customization #obj-scale-4 {}
	.page-customization #obj-scale-5 {}
	 */
	.page-customization #obj-prepared {width:20%;height:18%;}
	/* scale object end */
	
	/* 項鍊在手機時縮小倍率 */
	/* .page-customization #obj-center .item-container {transform: scale(0.5);}
	.page-customization #obj-scale-1 #obj-prepared img {transform:scale(0.5);} 
	
	 Here should be set from program dynamically
	*/
	.page-customization #obj-scale-2 #obj-prepared img  ,
	.page-customization #obj-scale-1 #obj-center {transform:scale(0.45);}
	/* 項鍊在手機時縮小倍率 */
	


  /* modal lettering */
    .page-customization #letteringPopup .lettering-input-container {
      width: 300px;
      padding:3rem 1rem 1rem;
      transform: translate(-150px, 174px);
    }

  /* Item Size and Color Setting */
    .zone-color-img .img {border-width:4px;}
    .page-customization .zone-option .option {
      padding: .15rem 1rem;
      border-width:4px;
    }
    .zone-color-img .img.active,
    .page-customization .zone-option .option.active {border-width:4px;}

  /* Lettering Item */
    #letteringPopup.popup-center {left:auto;}

  /* LookBook */
	.page-customization #lookbookPopup .container {max-width:320px;padding:2rem 1rem;left:calc(50% - 160px);top: calc(50% + 4vh);}
	.page-customization .outer-scroll {height:20vh;}
    /* .page-customization .item-sample-block {margin-bottom: 8vh;}
    .page-customization .modal-btn-comfirm {	   
	    margin-top: 55vh;
    } */

  /* finished message */
    .page-customization .print-time {max-width:85%;}
    .page-customization #cusFinishedPopup textarea {width:85%;}
}

@media only screen and (max-width:375px) {

  /* finished message */
    .page-customization #cusFinishedPopup {left:auto;}
    .page-customization #cusFinishedPopup .container {padding-top:3rem;padding-bottom:1.5rem;}
    .page-customization .sep-line {    margin: 1.5rem auto;}
   /*  .page-customization .item-sample-block {margin-bottom: 10vh;}
    .page-customization .modal-btn-comfirm {	   
	    margin-top: 56vh;
    } */

}

@media only screen and (max-width:320px) {
  /* .page-customization .workmenu {top:2rem;} */

    .page-customization .workmenu-item, .workmenu-open-button {
      width:1.75rem;
      height:1.75rem;
    }
    .workmenu .ellipsis {width:4px;height:4px;}

    .workmenu .ellipsis-2 {
      -webkit-transform: translate3d(1px, 0, 0);
      transform: translate3d(1px, 0px, 0);
    }
    .workmenu .ellipsis-1 {
      -webkit-transform: translate3d(-6px, 0, 0);
      transform: translate3d(-6px, 0, 0);
    }


    .workmenu .triangle-top {
      width: 18px;
      height: 15px;
      border-bottom: solid 10px #7A6F62;
      border-left: solid 9px transparent;
      border-right: solid 9px transparent;
    }

  /* .page-customization #obj-center .item-container, .page-customization #obj-scale-1 #obj-prepared img {
    transform: scale(0.4);
  } */
  .page-customization #obj-scale-2 #obj-prepared img  ,
  .page-customization #obj-scale-1 #obj-center {transform:scale(0.35);}

  .page-customization #lookbookPopup .closePopup {top:0.5rem;right:0.5rem;}
  .page-customization #lookbookPopup .container {width:100%;height:auto;margin:0;padding:1rem;left:auto;top:auto;}

  /* Item Size and Color Setting */
    .page-customization .zone-option .option {padding:.15rem .85rem;font-size:12px;}

  /* finished message */
    .page-customization .spent-time {padding: .5rem;font-size:14px;}
    .page-customization .print-time {line-height:2;font-size:14px;}
    .page-customization .sep-line { margin: 1.5rem auto;}
  
    .page-customization #cusFinishedPopup .closePopup {top:1rem;right:2rem;width:24px;}

    .page-customization #cusFinishedPopup .container {padding-top:3rem;padding-bottom:1rem;}

  /* look book*/  
  .page-customization .outer-scroll {height:18vh;}
  .page-customization #lookbookPopup .grid {width:40%;}
  .page-customization #lookbookPopup .container {width:300px;top:15px;left:calc(50% - 150px);height:95vh;}
  .page-customization #lookbookPopup .title {font-size:18px;}
  .page-customization #lookbookPopup .closePopup img {width:24px;}
  .page-customization .spent-time {    margin-bottom: 1rem;}
  /* .page-customization .item-sample-block {margin-bottom: 10vh;}
  .page-customization .modal-btn-comfirm {	   
	    margin-top:58vh;
  } */
}



@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  #footer, .page-customization.banner {display:none;}
  .page-customization .fit-100vh .col-60 {width:100%;}
  .page-customization .fit-100vh .col-40 {width:100%;}

  .page-customization .workbench {height: 70vh;}
  .page-customization .itemChoose {height:30vh;}

  .page-customization .workmenu-item, .workmenu-open-button {top:12rem;}

  .page-customization #itemSelect {transform: translateY(0);}
  .page-customization .itemName {padding-top: 1rem;}


  .page-customization #zoneGuide {position:fixed;width:100%;}

}


