.page-customization.banner {height:20vh;background:url(../../static/images/customization/bg_header.jpg) no-repeat;background-size:cover;}
.page-customization .workbench {position:relative;height:80vh;}
.page-customization .wood {background:url(../../static/images/customization/bg_wood.jpg) no-repeat;background-size:cover;}
.page-customization #zoneControl {position:absolute;bottom:0;width:100%;padding:2rem;}
.page-customization #zoneControl .btn-shadow {display:inline-block;margin:0 1rem;border-radius:100rem;box-shadow:0 2px 10px rgba(0, 0, 0, 0.5);}
.page-customization #zoneControl .btn-shadow.disabled {opacity:.5;}

/* itemChoose */
.page-customization .itemChoose {height:80vh;}
.page-customization .itemChooseTop {background:url(../../static/images/customization/bg_itemChoose_top.jpg) no-repeat;background-size:cover;}
.page-customization .itemChooseBottom {height:60vh;background:url(../../static/images/customization/bg_itemChoose_bottom.jpg) no-repeat;background-size:cover;}

.page-customization #itemTab {overflow:hidden;font-size:0;line-height: 2;}
.page-customization #zoneGuide {position:absolute;bottom:0;width:100%;box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.3);}
.page-customization #zoneGuide .ic-lookbook,.page-customization #zoneGuide .ic-question {padding:.5rem;background-color:#e3ded6;}
.page-customization #zoneGuide .ic-search {padding:.5rem;background-color:#f0ede6;}
.page-customization .itemTabInner .tab:nth-child(odd) {background-color:#ded9d5;}
.page-customization .itemTabInner .tab:nth-child(even) {background-color:#f0ece6;}
/* itemChoose end */

/* itemSelect */
.page-customization #itemSelect {position:relative;white-space:nowrap;transform:translateY(2vh);box-shadow: 0 0 8px rgba(0, 0, 0, .5);}
.page-customization #itemTabCtrl {position:absolute;bottom:0;width:100%;height:100%;}
.page-customization #itemTab .tab {display:inline-block;color:#574c45;font-weight:500;padding:1rem 3rem;font-size:19px;}
.page-customization #itemTabCtrl .prev, 
.page-customization #itemTabCtrl .next {display:inline-flex;height:100%;width:5vw;align-items:center;justify-content:center;}
.page-customization #itemTabCtrl .prev {background-image: linear-gradient(to right, rgba(0,0,0,0.5) , rgba(0,0,0,0));}
.page-customization #itemTabCtrl .next {position:absolute;right:0;text-align:right;background-image: linear-gradient(to left, rgba(0,0,0,0.5) , rgba(0,0,0,0));}
/* itemSelect end */

.page-customization .itemName {text-align:center;padding-top:2rem;padding-bottom:1rem;}

.page-customization .flexContainer {overflow-y:hidden;height:55vh;}
.page-customization .flexbox {/*display:inline-flex;flex-wrap:wrap;flex-direction:column;height:60vh;overflow:scroll;*/width:1000px;}
.page-customization .flexbox>div {display:inline-block;}
.page-customization .flexbox>div>img {height:18vh;}

.page-customization .nextCate {display:-webkit-box;margin:0 2rem;}

.page-customization .cateName {transform: translateY(calc(50% - 15px));}

.page-customization .nextCate img {transform: translateY(calc(50%));}

@media only screen and (max-width: 1440px) {

.page-customization .btn-shadow img {width:48px;}

.page-customization .ic-lookbook img,
.page-customization .ic-question img,
.page-customization .ic-search img {width:36px;}

/* itemSelect */
.page-customization #itemTab .tab {padding: .5rem 1.5rem;}
/* itemSelect end */

.page-customization .itemChoose {background-position-y:0vh;}
.page-customization .flexContainer {height:50vh;}
.page-customization .inline-flex {transform:translateY(15%);}
.page-customization .nextCate img {transform: translateY(0);}
}


@media only screen and (max-width: 768px) {

#footer {display:none;}

.page-customization.banner {height:15vh;}
.page-customization .workbench {height:45vh;}

.page-customization #itemSelect {transform:translateY(0);}

.page-customization .itemChoose {height:40vh;}

.page-customization #zoneControl {padding:1.5rem;}
.page-customization .btn-shadow img {width:40px;}
.page-customization #zoneControl .btn-shadow {margin: 0 .5rem;}
.page-customization .ic-lookbook img,.page-customization .ic-question img,.page-customization .ic-search img {width:30px;}

.page-customization .itemChoose {background-position-y:0vh;}
.page-customization .itemChooseBottom {height:30vh;}

.page-customization .itemName {padding-top:.5rem;padding-bottom: .5rem;}

.page-customization #itemTab .tab {font-size:16px;padding:0 1.5rem;}

.page-customization #itemTabCtrl .prev, .page-customization #itemTabCtrl .next {display:none;}

.page-customization .flexContainer {height:30vh;}
.page-customization .flexbox>div>img {height:10vh;}
.page-customization .inline-flex {transform: translateY(20%);}

.page-customization .nextCate img {height:20vh;}

}


@media only screen and (max-width: 480px) {

.page-customization .flexContainer {height:25vh;}
.page-customization .itemChooseBottom {height:25vh;}
.page-customization .inline-flex {transform: translateY(10%);}

}

@media only screen and (max-width:375px) {


}