
.page-fortune.banner {
	height:40vh;
	background:url(../../static/images/fortune/banner-fortune.jpg) no-repeat right center;
	background-size:cover;
}

.page-fortune h1.mainTitle {position:absolute;font-weight:700;left:4rem;bottom:4rem;font-size:38px;}

.page-fortune .zodiac {cursor:pointer;}
.page-fortune .zodiac-img {height:25vh;background-position:center;background-repeat:no-repeat;background-size:contain;}
.page-fortune .zodiac-name {margin-bottom:4rem;text-align:center;font-weight:700;color:#574c45;font-size:28px;}
.page-fortune .zodiac:hover .zodiac-name {color:#ff9933}

.page-fortune .aquarius .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-aquarius.svg);}
.page-fortune .aquarius:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-aquarius_h.svg);}

.page-fortune .aries .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-aries.svg);}
.page-fortune .aries:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-aries_h.svg);}

.page-fortune .cancer .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-cancer.svg);}
.page-fortune .cancer:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-cancer_h.svg);}

.page-fortune .capricorn .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-capricorn.svg);}
.page-fortune .capricorn:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-capricorn_h.svg);}

.page-fortune .gemini .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-gemini.svg);}
.page-fortune .gemini:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-gemini_h.svg);}

.page-fortune .leo .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-leo.svg);}
.page-fortune .leo:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-leo_h.svg);}

.page-fortune .libra .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-libra.svg);}
.page-fortune .libra:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-libra_h.svg);}

.page-fortune .pisces .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-pisces.svg);}
.page-fortune .pisces:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-pisces_h.svg);}

.page-fortune .sagittarius .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-sagittarius.svg);}
.page-fortune .sagittarius:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-sagittarius_h.svg);}

.page-fortune .scorpio .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-scorpio.svg);}
.page-fortune .scorpio:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-scorpio_h.svg);}

.page-fortune .taurus .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-taurus.svg);}
.page-fortune .taurus:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-taurus_h.svg);}

.page-fortune .virgo .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-virgo.svg);}
.page-fortune .virgo:hover .zodiac-img {background-image:url(../../static/images/fortune/icon-zodiac/img-virgo_h.svg);}


@media only screen and (max-width: 1920px) {
}


@media only screen and (max-width: 1440px) {

.page-fortune h1.mainTitle {left:5rem;bottom:1.5rem;font-size:32px;}

.page-fortune .zodiac-img {height:27vh;}
.page-fortune .zodiac-name {margin-bottom:2rem;font-size:22px;}

}

@media only screen and (max-width: 1024px) {

  .page-fortune .zodiac-name {margin-bottom:2rem;font-size:18px;}
  .page-fortune .zodiac-img {height:20vh;}
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) { 

}



