.page-horoscopes.banner {
	height:40vh;
	background:url(../../static/images/horoscopes/banner-fortune.jpg) no-repeat right center;
	background-size:cover;
}

/* width */
.page-horoscopes .note,
.page-horoscopes .container,
.page-horoscopes #typeA .zoneResult>div,
.page-horoscopes #typeB .test-4card,
.page-horoscopes #typeC .zoneResult p,
.page-horoscopes #typeC .flexContainer,
.page-horoscopes #typeB .zoneResult,
.page-horoscopes #typeD #nameFortune,
.page-horoscopes p.zoneDescription,
.page-horoscopes .prd-carousel .title {max-width:1400px;margin:auto;padding:15px;}

.page-horoscopes .resultTitle>div {max-width:1400px;margin:auto;}
/* width end */


.page-horoscopes .modal-btn-comfirm {margin-right:0;}

.page-horoscopes h1.mainTitle {position:absolute;font-weight:700;left:4rem;bottom:4rem;font-size:40px;color:#fff;}

.page-horoscopes .zoneTitle .title {display:inline-block;margin-right:2.5rem;padding-left:2rem;border-left:3rem solid #574c45;font-weight:700;color:#574c45;font-size:36px;}
.page-horoscopes .zoneTitle .subtitle {display:inline-block;font-weight:500;color:#574c45;font-size:24px;}

.page-horoscopes .note p {color:#574c45;line-height:2;font-size:20px;}
.page-horoscopes .resultTitle {padding: 0 2rem;}
.page-horoscopes .resultTitle .title {display:inline-block;vertical-align:middle;font-weight:700;color:#574c45;font-size:28px;}
.page-horoscopes .resultDescription {margin:1rem 0;font-weight:500;color:#574c45;line-height:2;font-size:20px;}
.page-horoscopes .resultTitle img.forHeight {width:1px;}

.page-horoscopes .show-m {display:none;}

/* ========== typeA ========== */
.page-horoscopes #typeA {background-color:#fff;}
.page-horoscopes #typeA .zoneTitle,
.page-horoscopes #typeD .zoneTitle {padding:2rem;padding-left:0;background-color:#F5EFEB;color:#574c45;}

.page-horoscopes #typeA .zodiac {margin:2rem 0;cursor:pointer;}
.page-horoscopes #typeA .zodiac-img {height:15vh;background-position:center;background-repeat:no-repeat;background-size:contain;}
.page-horoscopes #typeA .zodiac-name {text-align:center;font-weight:700;color:#574c45;font-size:20px;}
.page-horoscopes #typeA .zodiac:hover .zodiac-name {color:#ff9933}
.page-horoscopes #typeA .zoneZodiac {margin-bottom:2rem;}

	/* 12 zodiac icon */
	.page-horoscopes #typeA .aquarius .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aquarius.svg);}
	.page-horoscopes #typeA .aquarius:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aquarius_h.svg);}

	.page-horoscopes #typeA .aries .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aries.svg);}
	.page-horoscopes #typeA .aries:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aries_h.svg);}

	.page-horoscopes #typeA .cancer .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-cancer.svg);}
	.page-horoscopes #typeA .cancer:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-cancer_h.svg);}

	.page-horoscopes #typeA .capricorn .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-capricorn.svg);}
	.page-horoscopes #typeA .capricorn:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-capricorn_h.svg);}

	.page-horoscopes #typeA .gemini .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-gemini.svg);}
	.page-horoscopes #typeA .gemini:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-gemini_h.svg);}

	.page-horoscopes #typeA .leo .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-leo.svg);}
	.page-horoscopes #typeA .leo:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-leo_h.svg);}

	.page-horoscopes #typeA .libra .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-libra.svg);}
	.page-horoscopes #typeA .libra:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-libra_h.svg);}

	.page-horoscopes #typeA .pisces .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-pisces.svg);}
	.page-horoscopes #typeA .pisces:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-pisces_h.svg);}

	.page-horoscopes #typeA .sagittarius .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-sagittarius.svg);}
	.page-horoscopes #typeA .sagittarius:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-sagittarius_h.svg);}

	.page-horoscopes #typeA .scorpio .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-scorpio.svg);}
	.page-horoscopes #typeA .scorpio:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-scorpio_h.svg);}

	.page-horoscopes #typeA .taurus .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-taurus.svg);}
	.page-horoscopes #typeA .taurus:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-taurus_h.svg);}

	.page-horoscopes #typeA .virgo .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-virgo.svg);}
	.page-horoscopes #typeA .virgo:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-virgo_h.svg);}
	/* */

.page-horoscopes #typeA .zodiacResult {border-top:2px solid #ffefe4;}

.page-horoscopes #typeA .resultTitle {background-color:#ffffff;}
.page-horoscopes #typeA img.zodiacIcon, .page-horoscopes .resultTitle .arrowTop, .page-horoscopes .resultTitle img.forHeight {height:100px;}


.page-horoscopes #typeA .zoneResult {padding-top:3rem;padding-bottom:2rem;background-color:#F5EFEB;}
.page-horoscopes #typeA .star {display:inline-block;width:130px;height:36px;vertical-align:bottom;background-repeat:no-repeat;background-size:contain;background-image:url(../../static/images/horoscopes/star-empty.svg);}
.page-horoscopes #typeA .star5 {background-image:url(../../static/images/horoscopes/star5.svg);}
.page-horoscopes #typeA .star4 {background-image:url(../../static/images/horoscopes/star4.svg);}
.page-horoscopes #typeA .star3 {background-image:url(../../static/images/horoscopes/star3.svg);}
.page-horoscopes #typeA .star2 {background-image:url(../../static/images/horoscopes/star2.svg);}
.page-horoscopes #typeA .star1 {background-image:url(../../static/images/horoscopes/star1.svg);}

	/* text style */
	.page-horoscopes #typeA .luckTitle {font-weight:700;color:#574c45;font-size:24px;}
	.page-horoscopes #typeA .luckDescription {margin:.5rem 0 2rem;font-weight:500;color:#574c45;font-size:18px;}
	/* text style end */

.zodiacResult:after {
	content: "";
	position: absolute;
	width:100%;
	height:20vh;
	background-color:#F5EFEB;
	z-index:-1;
}

/* ========== typeA end ========== */


/* ========== typeB ========== */
div.forOrder .page-horoscopes:first-child {background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(218,203,194,1) 90%, rgba(218,203,194,1) 100%);}

.page-horoscopes #typeB {background-image:url(../../static/images/horoscopes/typeB/bg-typeb.svg);background-repeat:no-repeat;background-position:top center;background-size:contain;}
.page-horoscopes #typeB .zoneTitle {padding-top:12vh;}
.page-horoscopes #typeB .note {margin-top:10vh;}

.page-horoscopes #typeB .zone4Card {margin-bottom:2rem;}
.page-horoscopes #typeB .zone4Card .note {margin-top:0;}
.page-horoscopes #typeB #card3 {background-color:#fff;}
.page-horoscopes .cardbase {margin: 1rem 0;background-color:#ffefe4;box-shadow:0 2px 8px rgba(206, 146, 104, 0.5);}
.page-horoscopes .cardbase img {width:100%;}
.page-horoscopes .cardbase.not-selected img {opacity:.35;}
.page-horoscopes .cardbase.select img {opacity:1;}
.page-horoscopes #typeB .resultTitle {background-color:#FFEFE4;}
.page-horoscopes #typeB .zoneDescription .title {margin-top:1rem;font-weight:700;color:#574c45;}
	/* text style */
	.page-horoscopes #typeB .zoneDescription .title {font-size:24px;}
	/* text style end */
/* ========== typeB end ========== */


/* ========== typeC ========== */
.page-horoscopes #typeC {background-color:#574c45;}
.page-horoscopes #typeC .zoneTitle {padding:2rem;padding-left:0;}
.page-horoscopes #typeC .zoneTitle .title {border-left-color:#fff;}
.page-horoscopes #typeC .note p {padding:2rem;}
.page-horoscopes #typeC .resultTitle {margin-top:4rem;background-color:#473E39;}
.page-horoscopes #typeC .zoneResult p {padding-top:4rem;padding-bottom:4rem;font-weight:500;color:#fff;line-height:2;font-size:20px;}

.flexContainer {display:flex;align-items:center;}
/* Safari 6.1+ */
.page-horoscopes div#typeCard   {-webkit-order: 1;}
.page-horoscopes div#typeIntro  {-webkit-order: 2;}
/* Standard syntax */
.page-horoscopes div#typeCard   {order: 1;}
.page-horoscopes div#typeIntro  {order: 2;}

.page-horoscopes #typeC .zoneResult::after {
	content: "";
    position: absolute;
    width: 100%;
    height: 20vh;
    background-color:#574c45;
    z-index: -1;
}

.page-horoscopes #typeC .result-btn {padding:4px 30px;border-radius:10rem;border:0;outline:none;font-size:20px;font-weight:700;color:#8A837F;background-color:#fef8f2;}
/* ========== typeC end ========== */


/* ========== typeD ========== */
.page-horoscopes #typeD,
.page-horoscopes #typeD .note,
.page-horoscopes #typeD #nameFortune {background-color:#F5EFEB;}
.page-horoscopes #typeD #nameFortune {padding-bottom:4rem;}
.page-horoscopes #typeD #nameFortune .container {padding-top:2rem;padding-right:0;padding-left:0;}
.page-horoscopes #typeD #nameFortune .title {margin-bottom:1rem;text-align:left;font-weight:500;color:#574C45;font-size:27px;}
.page-horoscopes #typeD .nameInput {height:40px;margin-top:1rem;margin-bottom:1rem;margin-right:1rem;border:2px solid transparent;border-radius:4px;padding:6px 8px;outline:0;}
.page-horoscopes #typeD .nameInput:focus {border:2px solid rgba(255, 153, 51, 0.5);}
.page-horoscopes #typeD .modal-btn-comfirm {margin:0;}
.page-horoscopes #typeD .resultTitle {background-color:#F0E3DA;}
.zoneDescription {padding: 1rem 2rem;line-height:2;color:#574C45;background-color:#fff;font-size:20px;}
.recommand.prd-carousel.typeD {background-color:#F5EFEB;}
.page-horoscopes #typeD .zoneResult {background-color:#fff;}
.page-horoscopes p.zoneDescription {padding-top:3rem;padding-bottom:3rem;}
/* ========== typeD end ========== */


/* prd-carousel */
.page-horoscopes .recommandMask {text-align:right;}
.page-horoscopes .prd-carousel .sepline {width:35vw;height:6px;background-color:#574C45;}
.page-horoscopes .prd-carousel .carousel-end-line {margin-top:3rem;}
	.carousel-end-line .orange-line {margin:auto;width:65vw;height:3px;background:#FF9933;}

.page-horoscopes .recommandMask .productSubtitle,
.page-horoscopes .recommandMask .price {font-size:18px;}



/* popup carousel */
.page-horoscopes.modal {position:relative;margin:1rem;}
.page-horoscopes.modal .closePopup {position:absolute;right:1rem;top:1.5rem;}
.page-horoscopes.modal .container {max-width:1000px;max-height:90vh;overflow:auto;padding:2rem 0;background-color:#fff;color:#574C45;box-shadow: 0 4px 16px rgba(0, 0, 0, .5);}
.page-horoscopes.modal .recommand.prd-carousel {margin-bottom:2rem;padding:0;}

.page-horoscopes.modal .prd-title {margin-bottom:1rem;font-weight:700;font-size:20px;}
.page-horoscopes.modal .prd-title .prd-subtitle {display:inline-block;margin-left:1rem;font-size:18px;}
.page-horoscopes.modal .prd-price {margin-bottom:1rem;font-weight:500;font-size:18px;}
.page-horoscopes.modal .prd-description {margin-bottom:2rem;font-weight:500;font-size:16px;}

.page-horoscopes.modal .spec,.page-horoscopes.modal .prd-color {margin-bottom:1rem;}
.page-horoscopes.modal .left-panel {position:relative;height:100%;}
.page-horoscopes.modal .thumbnail-img {margin:.5rem 0;padding: 0 .25rem;}
.page-horoscopes.modal .arrow-thumbnail {width:100%;padding: 0 .25rem;text-align:center;}
.page-horoscopes.modal .arrow-thumbnail.bottom {position:absolute;bottom:0;}
.page-horoscopes.modal .flex {display:flex;}
/* dropdown */

.page-horoscopes .dropDown-wrapper{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index:1;
}

/* the style for the label */
.page-horoscopes .dropDown-toggle-label {
    position: relative;
    padding: .5rem 4rem .5rem 1rem;
    /*background-color:#fff7f2;*/
    color: #3b342f;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #baae9d;
    font-size: 13px;
    transition: opacity .2s ease;
    letter-spacing: .2px;
    margin-bottom: 0;
    /* force parent to wrap around the label tag */
    float: left;
    height: 37px;
}


/* arrow indicator on the button */
.page-horoscopes .dropDown-toggle-label:after{
    content: "";
    display: inline-block;
    width:18px;
    height:10px;
    /* this makes the square appear as a white triangle */
    background: url(../../static/images/products/arrow_dropdown.svg);
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 35%;
}

/* hide all input fields since the labels are connected to them by the id */
.page-horoscopes .dropDown-wrapper input{display: none;}

/* rotate the button arrow upwards */
.page-horoscopes .dropDown-wrapper > input:checked + label:after{
    transform: rotate(180deg);
}

/* this will show dropDown when input is checked */
.page-horoscopes .dropDown-wrapper > input:checked + label + .dropDown{
    display: inline-block;
}

/* the drop-down style*/
.page-horoscopes .dropDown{
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 100%;
    display: none;
    background: #fff7f2;
    border:1px solid #baae9d;
}

/* the drop-down options style*/
.page-horoscopes .dropDown label {
    display: block;
    margin:15px 20px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight:500;
    color: #786a60;
    opacity: .8;
    transition:border .1s ease;
}

/* option item on hover */
.page-horoscopes .dropDown label:hover{
    border-bottom: 2px solid #474e5d;
    opacity: .9;
    color: #3b342f;
}

/* this shows that the list item was selected */
.page-horoscopes .dropDown input:checked + label{opacity: 1;}

/* dropdown end */


/* -- quantity -- */
.page-horoscopes form {border:1px solid #baae9d;text-align:center;height:37px;}

.page-horoscopes .value-button {
  display: inline-block;
  margin: 0px;
  width: 40px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  color: #ea5514;
}

.page-horoscopes .value-button img {margin-bottom:6px;}

.page-horoscopes .value-button:hover {cursor:pointer;}

.page-horoscopes form #input-wrap {margin:0px;padding:0px;}

.page-horoscopes input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 40px;
  background:transparent;
  line-height: 2;
  height: 35px;
}

.page-horoscopes input[type=number]::-webkit-inner-spin-button,
.page-horoscopes input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-horoscopes .colorCircle {display:inline-block;}

.page-horoscopes .colorCircle.active img {
	border-radius:100px;
    border: 2px solid #c2c2c2;
}

.page-horoscopes.modal .spec .label,
.page-horoscopes.modal .prd-color .label {display:block;margin-bottom:.5rem;}


/* -------------- */




@media only screen and (max-width: 1440px) {

.page-horoscopes h1.mainTitle {left:4rem;bottom:1.5rem;font-size:36px;}

/* text style */
	.page-horoscopes .zoneTitle .title {margin-right:1rem;padding-left:1rem;font-size:28px;}
	.page-horoscopes .zoneTitle .subtitle, .page-horoscopes .note p {font-size:20px;}
	.page-horoscopes .resultTitle .title {font-size:24px;}
	.page-horoscopes .resultDescription,
	.page-horoscopes #typeD #nameFortune .title {font-size:20px;}
/* text style end */

/* ========== typeA ========== */

.page-horoscopes #typeA .zoneTitle {padding:1.5rem;padding-left:0;}
.page-horoscopes #typeA .zodiac {margin: 1rem 0;}
.page-horoscopes #typeA .zodiac-img {height:15vh;}

.page-horoscopes #typeA img.zodiacIcon, .page-horoscopes .resultTitle .arrowTop, .page-horoscopes .resultTitle img.forHeight {height:84px;}
.page-horoscopes #typeA .star {width:115px;height:32px;}


	/* text style */
	.page-horoscopes #typeA .zodiac-name, 
	.page-horoscopes #typeA .luckTitle, 
	.page-horoscopes #typeA .luckDescription {font-size:20px;}
	/* text style end */
/* ========== typeA end ========== */

/* ========== typeB ========== */
.page-horoscopes #typeB .zoneDescription .title {font-size:26px;}

/* ========== typeB end ========== */

}

@media only screen and (max-width: 1366px) {
	.page-horoscopes #typeB .zoneTitle {padding-top:8vh;}
}

@media only screen and (max-width: 1280px) {
	.page-horoscopes #typeB .zoneTitle {padding-top:11vh;}
}

@media only screen and (max-width: 1024px) {

  .page-horoscopes .zodiac-name {font-size:18px;}
  .page-horoscopes .zodiac-img {height:20vh;}

.page-horoscopes #typeB .zoneTitle {padding-top:7vh;}
.page-horoscopes #typeB .note {margin-top: 4vh;}

.page-horoscopes .prd-carousel .sepline {width:45vw;}

}

@media only screen and (max-width: 768px) {
.page-horoscopes.banner {height:25vh;}
.page-horoscopes #typeB {background-image:url(../../static/images/horoscopes/typeB/bg-typeb-m.svg);}
.page-horoscopes #typeB .zoneTitle {padding-top:10vh;}
.page-horoscopes #typeB .note {margin-top: 10vh;}
.page-horoscopes #typeB .zoneResult .cardbase {width: 50%;margin: auto;margin-bottom: 2rem;}


.flexContainer {flex-direction:column;}


/* Safari 6.1+ */
.page-horoscopes div#typeCard   {-webkit-order: 2;}
.page-horoscopes div#typeIntro  {-webkit-order: 1;}
/* Standard syntax */
.page-horoscopes div#typeCard   {order: 2;}
.page-horoscopes div#typeIntro  {order: 1;}


.page-horoscopes #typeD #nameFortune .container,.page-horoscopes #typeD #nameFortune .title {text-align:center;}

.page-horoscopes.modal {top:35px;}
.elementToFadeIn {
  opacity: 1;
  animation: fade .5s linear;
}
  @keyframes fade {
      0% { opacity:0;top:100px }
      50%,100% { opacity:1;top:35px }
  }
.page-horoscopes.modal .prd-title {margin-top:1rem;}
.page-horoscopes.modal .flex {margin-bottom:2rem;}
.page-horoscopes.modal .thumbnail-img {margin:1rem 0;padding:0 .75rem;}
.page-horoscopes.modal .spec .label,
.page-horoscopes.modal .prd-color .label {display:block;margin-bottom:.5rem;}

.page-horoscopes .resultTitle,
.page-horoscopes #typeB .zoneDescription,
.page-horoscopes #typeC .note p {padding:0;}

.page-horoscopes #typeA .note,
.page-horoscopes #typeA .zoneResult,
.page-horoscopes #typeB .note,
.page-horoscopes #typeC .zoneResult p {padding:1rem;}

.page-horoscopes #typeA .zoneResult {padding-top:2.5rem;}
.page-horoscopes #typeA .zoneResult>div {padding:0;}


.page-horoscopes #typeC .flexContainer {padding:0;}
.page-horoscopes #typeC .resultTitle {margin-top:0;}
.page-horoscopes #typeC .result-btn {margin:1rem 0;}
}

@media only screen and (max-width: 480px) {

.page-horoscopes h1.mainTitle {left:2.5rem;bottom:1rem;font-size:24px;}

.page-horoscopes .resultTitle {padding:0;}
.page-horoscopes .zoneDescription {padding:.25rem;}


.page-horoscopes #typeA .zoneTitle {padding:1rem;padding-left:0;}
.page-horoscopes .zoneTitle .title {margin-right:.5rem;padding-left:.5rem;border-left: 2rem solid #574c45;}

.page-horoscopes #typeA .note {background-color:#F5EFEB;}

.page-horoscopes #typeA .zoneZodiac {padding:0;}
.page-horoscopes #typeA .zodiac-img {height:8vh;}

.page-horoscopes #typeA .zodiacResult .resultTitle {padding:0;}
.page-horoscopes #typeA img.zodiacIcon, .page-horoscopes .resultTitle .arrowTop, .page-horoscopes .resultTitle img.forHeight {height:50px;}

.page-horoscopes #typeA .zoneResult {padding-top:1rem;padding-bottom:1rem;}
.page-horoscopes #typeA .star {width:86px;height:24px;}




/* text style */
.page-horoscopes .zoneTitle .title,
.page-horoscopes #typeB .zoneDescription .title {font-size:18px;}

.page-horoscopes .resultTitle .title,
.page-horoscopes #typeD #nameFortune .title {font-size:16px;}
.page-horoscopes .zoneTitle .subtitle, .page-horoscopes .note p {font-size:14px;}
.page-horoscopes #typeA .zodiac-name, 
.page-horoscopes #typeA .luckTitle, 
.page-horoscopes #typeA .luckDescription {font-size:15px;}
.page-horoscopes #typeA .zodiac-name,.page-horoscopes .resultDescription {font-size:13px;}
/* text style end */


.page-horoscopes #typeB .zoneTitle {padding-top:7vh;}
.page-horoscopes #typeB .note {margin-top: 5vh;}
.page-horoscopes #typeB .test-4card {padding:1.5rem;}
.page-horoscopes #typeB .resultTitle {padding:0;}
.page-horoscopes #typeB .zoneResult {margin:0;padding:1.5rem .25rem;}
.page-horoscopes #typeB .zoneDescription .title {margin-top:0;}
.page-horoscopes #typeB .zoneResult .cardbase {width:50%;margin: auto;margin-bottom:2rem;}

.page-horoscopes #typeC .zoneTitle {padding:1rem;padding-left: 0;}
.page-horoscopes #typeC .resultTitle {margin-top:0;padding:0;}
.page-horoscopes #typeC .note {padding:0;}
.page-horoscopes #typeC .note p {padding:1rem 0.25rem;}
.page-horoscopes #typeC .zoneResult p {padding:2rem 1.25rem;font-size:13px;}
.page-horoscopes #typeC .result-btn {margin-top:0;font-size:16px;}


.page-horoscopes #typeD #nameFortune {padding: 2rem 0;}

.page-horoscopes #typeD .zoneDescription {padding:1.25rem;font-size:13px;}
.page-horoscopes #typeD .nameInput,.page-horoscopes #typeD .modal-btn-comfirm {width:45%!important;}

/* prd-carousel */
.page-horoscopes .prd-carousel .title {padding-right:1.5rem;padding-left:1.5rem;font-size:18px;}
.page-horoscopes .prd-carousel .sepline {width:70vw;height:4px;}
.page-horoscopes .recommandMask .productSubtitle,
.page-horoscopes .recommandMask .price {font-size:16px;}

.page-horoscopes.modal {top:20px;}
  @keyframes fade {
      0% { opacity:0;top:100px }
      50%,100% { opacity:1;top:20px }
  }
.page-horoscopes.modal .thumbnail-img {
  margin: .5rem 0;
  padding: 0 .125rem;
}

.page-horoscopes.modal .closePopup {width:32px;}



.page-horoscopes.modal .prd-title {font-size:18px;}
.page-horoscopes.modal .prd-title .prd-subtitle,.page-horoscopes.modal .prd-price {font-size:16px;}
.page-horoscopes.modal .prd-description {margin-bottom:1rem;font-size:14px;}
.page-horoscopes.modal .spec .label,
.page-horoscopes.modal .prd-color .label {font-size:14px;}
.page-horoscopes .dropDown-toggle-label {width: 140px;padding:.5rem 1rem;}
.page-horoscopes.modal .prd-color {margin-bottom:2rem;}

}

@media only screen and (max-width:320px) {
  .page-horoscopes .prd-carousel .title {padding:.5rem 1rem;font-size:16px;}
  .page-horoscopes.modal .prd-title {font-size:16px;}
  .page-horoscopes.modal .prd-title .prd-subtitle, .page-horoscopes.modal .prd-price {font-size:14px;}
  .page-horoscopes.modal .prd-description {font-size:12px;}

  .page-horoscopes.modal .spec div.col-50 {width:100%;margin-bottom:1rem;}
  .page-horoscopes .dropDown-toggle-label {width: 130.28px;padding: .5rem;}
  .page-horoscopes h1.mainTitle {font-size:20px;}
}



@media screen and (device-width : 1024px) and (device-height : 1366px) and (orientation : portrait) { 
.page-horoscopes.banner {height:20vh;}
.page-horoscopes #typeB .zoneTitle {padding-top: 4vh;}
}


@media screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation : landscape) { 
.page-horoscopes.banner {height:60vh;}
.page-horoscopes #typeB .zoneTitle {padding-top:25vh;}
.page-horoscopes #typeB .note {
    margin-top:10vh;
}
.page-horoscopes #typeB .zoneResult .cardbase {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}
.page-horoscopes.modal .prd-title {margin-top:1rem;}
.page-horoscopes.modal {top:10px;}

	@keyframes fade {
  		0% { opacity:0;top:100px }
  		50%,100% { opacity:1;top:10px }
	}


}

@media screen and (device-width : 812px) and (device-height : 375px) and (orientation : landscape) { 
.page-horoscopes #typeB .zoneTitle {padding-top:10vh;}
.page-horoscopes #typeB .zoneResult .cardbase {
    width:auto;
    margin: auto;
    margin-bottom: 2rem;
}
.page-horoscopes.modal .prd-title {margin-top:1rem;}
.page-horoscopes.modal {top:10px;}

	@keyframes fade {
  		0% { opacity:0;top:100px }
  		50%,100% { opacity:1;top:10px }
	}



}

