
.page-horoscopes.banner {
	height:40vh;
	background:url(../../static/images/horoscopes/banner-fortune.jpg) no-repeat right center;
	background-size:cover;
}

.page-horoscopes h1.mainTitle {position:absolute;font-weight:700;left:4rem;bottom:4rem;font-size:53px;color:#fff;}


.page-horoscopes .zoneTitle .title {display:inline-block;margin-right:1.5rem;padding-left:1rem;border-left:3rem solid #574c45;font-weight:700;font-size:43px;}
.page-horoscopes .zoneTitle .subtitle {display:inline-block;font-weight:500;font-size:27px;}
.page-horoscopes .note p {padding:2rem 5rem 1rem;color:#574c45;line-height:2;font-size:27px;}
.page-horoscopes .resultTitle .title {display:inline-block;vertical-align:middle;font-weight:700;color:#574c45;font-size:38px;}
.page-horoscopes .resultDescription {margin:1rem 0;font-weight:500;color:#574c45;line-height:2;font-size:27px;}

/* ========== typeA ========== */

.page-horoscopes #typeA .zoneTitle {padding:2rem;padding-left:0;background-color:#fff1e8;color:#574c45;}

.page-horoscopes #typeA .zodiac {margin:2rem 0;cursor:pointer;}
.page-horoscopes #typeA .zodiac-img {height:15vh;background-position:center;background-repeat:no-repeat;background-size:contain;}
.page-horoscopes #typeA .zodiac-name {text-align:center;font-weight:700;color:#574c45;font-size:28px;}
.page-horoscopes #typeA .zodiac:hover .zodiac-name {color:#ff9933}
.page-horoscopes #typeA .zoneZodiac {margin-bottom:2rem;}

	/* 12 zodiac icon */
	.page-horoscopes #typeA .aquarius .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aquarius.svg);}
	.page-horoscopes #typeA .aquarius:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aquarius_h.svg);}

	.page-horoscopes #typeA .aries .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aries.svg);}
	.page-horoscopes #typeA .aries:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-aries_h.svg);}

	.page-horoscopes #typeA .cancer .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-cancer.svg);}
	.page-horoscopes #typeA .cancer:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-cancer_h.svg);}

	.page-horoscopes #typeA .capricorn .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-capricorn.svg);}
	.page-horoscopes #typeA .capricorn:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-capricorn_h.svg);}

	.page-horoscopes #typeA .gemini .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-gemini.svg);}
	.page-horoscopes #typeA .gemini:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-gemini_h.svg);}

	.page-horoscopes #typeA .leo .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-leo.svg);}
	.page-horoscopes #typeA .leo:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-leo_h.svg);}

	.page-horoscopes #typeA .libra .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-libra.svg);}
	.page-horoscopes #typeA .libra:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-libra_h.svg);}

	.page-horoscopes #typeA .pisces .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-pisces.svg);}
	.page-horoscopes #typeA .pisces:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-pisces_h.svg);}

	.page-horoscopes #typeA .sagittarius .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-sagittarius.svg);}
	.page-horoscopes #typeA .sagittarius:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-sagittarius_h.svg);}

	.page-horoscopes #typeA .scorpio .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-scorpio.svg);}
	.page-horoscopes #typeA .scorpio:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-scorpio_h.svg);}

	.page-horoscopes #typeA .taurus .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-taurus.svg);}
	.page-horoscopes #typeA .taurus:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-taurus_h.svg);}

	.page-horoscopes #typeA .virgo .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-virgo.svg);}
	.page-horoscopes #typeA .virgo:hover .zodiac-img {background-image:url(../../static/images/horoscopes/icon-zodiac/img-virgo_h.svg);}
	/* */

.page-horoscopes #typeA .zodiacResult {border-top:2px solid #ffefe4;}
.page-horoscopes .resultTitle {padding: 0 2rem;}
.page-horoscopes #typeA img.zodiacIcon, .page-horoscopes .resultTitle .arrowTop, .page-horoscopes .resultTitle img.forHeight {height:120px;}

.page-horoscopes #typeA .zoneResult {padding:4rem 5.5rem 3rem;background-color:#fff1e8;}
.page-horoscopes #typeA .star {display:inline-block;width:140px;height:40px;vertical-align:bottom;background-repeat:no-repeat;background-size:contain;background-image:url(../../static/images/horoscopes/star-empty.svg);}
.page-horoscopes #typeA .star5 {background-image:url(../../static/images/horoscopes/star5.svg);}
.page-horoscopes #typeA .star4 {background-image:url(../../static/images/horoscopes/star4.svg);}
.page-horoscopes #typeA .star3 {background-image:url(../../static/images/horoscopes/star3.svg);}
.page-horoscopes #typeA .star2 {background-image:url(../../static/images/horoscopes/star2.svg);}
.page-horoscopes #typeA .star1 {background-image:url(../../static/images/horoscopes/star1.svg);}

	/* text style */
	.page-horoscopes #typeA .luckTitle {font-weight:700;color:#574c45;font-size:27px;}
	.page-horoscopes #typeA .luckDescription {margin:.5rem 0 2rem;font-weight:500;color:#574c45;font-size:27px;}
	/* text style end */

.zodiacResult:after {
	content: "";
	position: absolute;
	width:100%;
	height:20vh;
	background-color:#fff1e8;
	z-index:-1;
}

/* ========== typeA end ========== */


/* ========== typeB ========== */
.page-horoscopes #typeB {background-image:url(../../static/images/horoscopes/typeB/bg-typeb.svg);background-repeat:no-repeat;background-position:top center;background-size:contain;}
.page-horoscopes #typeB .zoneTitle {padding-top:12vh;}
.page-horoscopes #typeB .note {margin-top:10vh;}
.page-horoscopes #typeB .test-4card {padding:2rem 4rem;}
.page-horoscopes #typeB .zone4Card {margin-bottom:2rem;}
.page-horoscopes #typeB .zone4Card .note {margin-top:0;}
.page-horoscopes .cardbase {margin: 1rem 0;background-color:#ffefe4;box-shadow:0 2px 8px rgba(206, 146, 104, 0.5);}
.page-horoscopes .cardbase img {width:100%;}
.page-horoscopes .cardbase.not-selected img {opacity:.35;}
.page-horoscopes .cardbase.select img {opacity:1;}
.page-horoscopes #typeB .resultTitle {background-color:#ffefe4;}
.page-horoscopes #typeB .zoneResult {margin:2rem 0;padding: 0 2rem;}
.page-horoscopes #typeB .zoneDescription .title {margin-top:1rem;font-weight:700;color:#574c45;}
	/* text style */
	.page-horoscopes #typeB .zoneDescription .title {font-size:38px;}
	/* text style end */

/* ========== typeB end ========== */




@media only screen and (max-width: 1440px) {

.page-horoscopes h1.mainTitle {left:4rem;bottom:1.5rem;font-size:36px;}

/* text style */
	.page-horoscopes .zoneTitle .title {margin-right:1rem;padding-left:1rem;font-size:28px;}
	.page-horoscopes .zoneTitle .subtitle, .page-horoscopes .note p {font-size:20px;}
	.page-horoscopes .resultTitle .title {font-size:26px;}
	.page-horoscopes .resultDescription {font-size:20px;}
/* text style end */

/* ========== typeA ========== */
.page-horoscopes #typeA .zoneZodiac {padding:0 6rem;}
.page-horoscopes #typeA .zoneTitle {padding:1.5rem;padding-left:0;}
.page-horoscopes #typeA .zodiac {margin: 1rem 0;}
.page-horoscopes #typeA .zodiac-img {height:15vh;}

.page-horoscopes #typeA img.zodiacIcon, .page-horoscopes .resultTitle .arrowTop, .page-horoscopes .resultTitle img.forHeight {height:84px;}
.page-horoscopes #typeA .zoneResult {padding: 2rem 4.5rem 1rem;}
.page-horoscopes #typeA .star {width:115px;height:32px;}

.page-horoscopes .note p {padding:2rem 4rem 1rem;}
	/* text style */
	.page-horoscopes #typeA .zodiac-name, 
	.page-horoscopes #typeA .luckTitle, 
	.page-horoscopes #typeA .luckDescription {font-size:20px;}
	/* text style end */
/* ========== typeA end ========== */

/* ========== typeB ========== */
.page-horoscopes #typeB .zoneDescription .title {font-size:26px;}

/* ========== typeB end ========== */

}

@media only screen and (max-width: 1366px) {
	.page-horoscopes #typeB .zoneTitle {padding-top:8vh;}
}

@media only screen and (max-width: 1280px) {
	.page-horoscopes #typeB .zoneTitle {padding-top:11vh;}
}

@media only screen and (max-width: 1024px) {

  .page-horoscopes .zodiac-name {font-size:18px;}
  .page-horoscopes .zodiac-img {height:20vh;}

.page-horoscopes #typeB .zoneTitle {padding-top:7vh;}
.page-horoscopes #typeB .note {margin-top: 4vh;}

}

@media only screen and (max-width: 768px) {
.page-horoscopes.banner {height:25vh;}
.page-horoscopes #typeB {background-image:url(../../static/images/horoscopes/typeB/bg-typeb-m.svg);}
.page-horoscopes #typeB .zoneTitle {padding-top:10vh;}
.page-horoscopes #typeB .note {
    margin-top: 10vh;
}
.page-horoscopes #typeB .zoneResult .cardbase {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}
}

@media only screen and (max-width: 480px) {
.page-horoscopes h1.mainTitle {left:2.5rem;bottom:1rem;font-size:28px;}

.page-horoscopes #typeA .zoneTitle {padding:1rem;padding-left:0;}
.page-horoscopes .zoneTitle .title {margin-right:.5rem;padding-left:.5rem;border-left: 2rem solid #574c45;}

.page-horoscopes #typeA .note {background-color:#fff1e8;}
.page-horoscopes .note p {padding: 0 2.5rem 1rem;}

.page-horoscopes #typeA .zoneZodiac {padding:0;}
.page-horoscopes #typeA .zodiac-img {height:8vh;}

.page-horoscopes #typeA .zodiacResult .resultTitle {padding:0;}
.page-horoscopes #typeA img.zodiacIcon, .page-horoscopes .resultTitle .arrowTop, .page-horoscopes .resultTitle img.forHeight {height:50px;}

.page-horoscopes #typeA .zoneResult {padding:1.5rem;}
.page-horoscopes #typeA .star {width:86px;height:24px;}

/* text style */
.page-horoscopes .zoneTitle .title,
.page-horoscopes #typeB .zoneDescription .title {font-size:20px;}

.page-horoscopes .resultTitle .title {font-size:18px;}
.page-horoscopes .zoneTitle .subtitle, .page-horoscopes .note p {font-size:14px;}
.page-horoscopes #typeA .zodiac-name, 
.page-horoscopes #typeA .luckTitle, 
.page-horoscopes #typeA .luckDescription {font-size:15px;}
.page-horoscopes #typeA .zodiac-name,.page-horoscopes .resultDescription {font-size:13px;}
/* text style end */


.page-horoscopes #typeB .zoneTitle {padding-top:7vh;}
.page-horoscopes #typeB .note p {padding:0 2.5rem;}
.page-horoscopes #typeB .test-4card {padding:1.5rem;}
.page-horoscopes #typeB .resultTitle {padding:0;}
.page-horoscopes #typeB .zoneResult {margin:0;padding:1.5rem 1rem;}
.page-horoscopes #typeB .zoneDescription .title {margin-top:0;}
.page-horoscopes #typeB .zoneResult .cardbase {width:50%;margin: auto;margin-bottom:2rem;}

}

@media screen and (device-width : 1024px) and (device-height : 1366px) and (orientation : portrait) { 
.page-horoscopes.banner {height:20vh;}
.page-horoscopes #typeB .zoneTitle {padding-top: 4vh;}
}


@media screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation : landscape) { 
.page-horoscopes.banner {height:60vh;}
.page-horoscopes #typeB .zoneTitle {padding-top:25vh;}
.page-horoscopes #typeB .note {
    margin-top:10vh;
}
.page-horoscopes #typeB .zoneResult .cardbase {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

}

@media screen and (device-width : 812px) and (device-height : 375px) and (orientation : landscape) { 
.page-horoscopes #typeB .zoneTitle {padding-top:10vh;}
.page-horoscopes #typeB .zoneResult .cardbase {
    width:auto;
    margin: auto;
    margin-bottom: 2rem;
}

}

