.page-materia.banner {height:60vh;background:url(../../static/images/materia/bg-top.jpg) no-repeat center center;background-size:cover;}

.page-materia.container.blank {padding-top:50px;padding-bottom:30px}

.page-materia.line {height:1px;border-top:1px solid #59514F}
.page-materia h2.subTitle {margin-right:50px;font-size:29px;font-weight:700;color:#6a3906;}
.page-materia h3.subTitle {margin-right:50px;font-size:22px;font-weight:700;color:#6a3906;}

/* album */
.page-materia #albumPage{margin-top:25px}
.page-materia #album {z-index:0;height: calc(100vh * 0.5);}

.page-materia #album div img {width: calc(100vh * 0.5);}

.page-materia #album div.next img {width: calc(100vh * 0.4);}
.page-materia #album div.prev img {width: calc(100vh * 0.4);}

.page-materia #album div.nextRightSecond img {width: calc(100vh * 0.25);}
.page-materia #album div.prevLeftSecond img {width: calc(100vh * 0.25);}

.page-materia #albumContainer .buttons {top: calc( calc(100vh * 0.25) - 25px );z-index:0}

.page-materia #displayResult {width:85%;margin:auto;margin-top:25px}

.page-materia #displayResult .item {margin:5px 15px;font-size:18px;font-weight:bold;color:#ff9933}
.page-materia #displayResult .item span, .page-materia #displayResult .item p {color:#6a3906;font-weight:500}

.page-materia .recommandLink {display:inline-block;margin:10px 30px;color:#6a3906;font-size:18px;font-weight:bold;text-decoration:underline;}


/* Responseve */

@media only screen and (max-width: 1680px) {

}

@media only screen and (max-width: 1440px) {
	.page-materia.container.blank {padding:35px 50px 25px;}
	.page-materia h2.subTitle {font-size:21px;}
	.page-materia h3.subTitle {font-size:18px;}
	.page-materia #displayResult {width:75%}

	/* album */
	.page-materia #albumContainer {width:80%;}

	/* 1 */
	.page-materia #album {height: calc(100vh * 0.6);}
	.page-materia #album div img {width: calc(100vh * 0.6);}

	/* 2 */
	.page-materia #album div.prev {transform: translateY(11%) translateX(-50%);}
	.page-materia #album div.next {transform: translateY(11%) translateX(-50%);}
	.page-materia #album div.prev img {width: calc(100vh * 0.5);}
	.page-materia #album div.next img {width: calc(100vh * 0.5);}

	/* 3 */
	.page-materia #album div.prevLeftSecond img {width: calc(100vh * 0.3);}
	.page-materia #album div.nextRightSecond img {width: calc(100vh * 0.3);}

	/* button */
	.page-materia #albumContainer .buttons {top: calc( calc(100vh * 0.3) - 25px );}


	.page-materia #displayResult .item {margin:5px 15px;font-size:16px;font-weight:bold;color:#ff9933}
	.page-materia #displayResult .item span, .page-materia #displayResult .item p {color:#6a3906;font-weight:500}

	.page-materia .recommandLink {font-size:16px}

}

@media only screen and (max-width: 1024px) {
	.page-materia h2.subTitle {margin-right:15px;font-size:20px;}
}

@media only screen and (max-width: 768px) {
	.page-materia #album div.prev {transform: translateY(20%) translateX(-50%);}
	.page-materia #album div.next {transform: translateY(20%) translateX(-50%);}
}

/* ==============================
   Phone
   ============================== */
  
@media only screen and (max-width: 480px) {
	.page-materia.banner {height:355px;}
	.page-materia.container.blank {padding:35px 25px 25px;}

	/* album */
	.page-materia #albumContainer {width:100%;}
	.page-materia #album {height: calc(100vw * 0.5);}

	/* 1 */
	.page-materia #album div img {width: calc(100vw * 0.5);}

	/* 2 */
	.page-materia #album div.prev img {width: calc(100vw * 0.35);}
	.page-materia #album div.next img {width: calc(100vw * 0.35);}


	/* 3 */
	.page-materia #album div.nextRightSecond img {width: calc(100vw * 0.25);}
	.page-materia #album div.prevLeftSecond img {width: calc(100vw * 0.25);}

	/* button */
	.page-materia #albumContainer .buttons {top: calc( calc(100vw * 0.25) - 15px );}

	.page-materia #displayResult {width:100%;}

}
