
/* input前 */
.page-member .before-container {overflow:hidden;}
.page-member .before-container .zone-select {max-width:100px;white-space:nowrap;overflow:auto;}
.page-member .before-container .zone-select::-webkit-scrollbar {display:none;}


.page-member .container.inner {max-width:1100px;padding-bottom:5rem;}

.page-member .container.inner form {margin-bottom:3rem;overflow:hidden;}

.page-member .form-item {padding:.875rem 0;border-bottom: solid 2px #969696;}
.page-member .form-item .row {/*width:100%;*/display:flex;}

.page-member .form-item input {
  width:100%;
  height:40px;
  border:0;
  outline:none;
  background-color:#fef8f2;
  color:#78726f;
  font-weight:700;
}

.page-member input::placeholder {color: rgba(143, 143, 143, 0.47)!important;}

.page-member .btn-select {display:inline-block;margin:1rem 0;margin-right: .5rem;padding:.5rem 1.5rem;border-radius:100rem;background-color:#8A837F;color:#fff;cursor:pointer;}
.page-member .btn-select span {display:inline-block;min-width:3rem;}
.page-member .form-item input.width-auto {width:auto;}
.page-member .form-label {display:inline-block;color:#8a837f;font-weight:700;font-size:16px;}
.page-member .sms-send span, .page-member .email-verified span, .page-member .email-notverified span {margin-right:0;text-align:center;}
.page-member input.sms-input {width:auto;}

.page-member .zone-select {position:absolute;top:.5rem;left:0;z-index:5;}
.page-member input.zone-add {padding-left:7rem;}

.page-member .email-verified,.page-member .email-notverified {text-align:center;}


/* Radio */
  .page-member .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: .5rem 1rem 1rem;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.6;
    color:#8a837f;
    font-weight:700;
  }
  .page-member .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .page-member .control__indicator {
    position: absolute;
    top: 5px;
    left: 0;
    height: 22px;
    width: 22px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }
  .page-member .control--radio .control__indicator {
    border-radius: 50%;
  }
  .page-member .control:hover input ~ .control__indicator,
  .page-member .control input:focus ~ .control__indicator {
    /*background: #ccc;*/
  }
  .page-member .control input:checked ~ .control__indicator {
    background: #fff;
  }
  .page-member .control:hover input:not([disabled]):checked ~ .control__indicator,
  .page-member .control input:checked:focus ~ .control__indicator {
    background: #fff;
  }

  .page-member .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .page-member .control input:checked ~ .control__indicator:after {
    display: block;
  }

  .page-member .control--radio .control__indicator:after {left:4px;top:4px;height:14px;width:14px;border-radius:50%;background:#ffa150;}
  .page-member .control--radio input:disabled ~ .control__indicator:after {background:#7b7b7b;}

/* Radio end */



.page-member .btn.btn-primary {background: url(../../static/images/btn-bg.jpg) no-repeat center 95%;}

.page-member .btn {padding:.35rem 3rem;border-radius:10rem;font-size:19px;color:#fff;font-weight:700;}

.page-member .btn:active {box-shadow: 0 0 0 0.2rem rgba(241, 120, 38, 0.2);}

.page-member .pc-inline {display:inline-block;}


.page-member .subitem img {vertical-align:middle;}

.page-member .form-item .single-line {margin-top:5px;}
.page-member .form-item .double-line,.page-member .form-item .single-line-btn {margin-top:15px;}
.page-member .m-show {display:none;}

/* ====== RWD ====== */
@media only screen and (max-width: 1680px) {
  .page-member .container.inner {max-width:1060px;}

}


@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 480px) {

  .page-member .col-s-80 {padding:0;}

  .page-member .m-hide {display:none!important;}
  .page-member .m-show {display:block;}
  .page-member .m-show.address {height:40px;}

  .page-member .m-show.form-mt-16 {margin-top:1rem;}


  .page-member .form-item {padding:1rem 0;}
  .page-member .pc-inline {display:block;}
  .page-member .form-item .col-s-20 img {height:36px;}

  .page-member .control {margin: 1rem .5rem;}

  .page-member .btn-select {margin:.5rem .25rem;margin-left: 0;padding:.5rem .75rem;font-size:13px;}
  .page-member .form-label {font-size:14px}
  .page-member .form-item input {font-size:14px;}

  .page-member .control {font-size:16px;line-height:2;}

  .page-member .form-item .single-line {margin-top:10px;}
  .page-member .form-item .double-line,.page-member .form-item .single-line-btn {margin-top:5px;}
  .page-member .form-item input.width-auto,
  .page-member input.sms-input {width:110px;}

  .page-member .form-item input.input-email {width:125px;}
  .page-member .before-container .zone-select {line-height:1.5;}

}

@media only screen and (max-width: 320px) {

  .page-member .btn-select,.page-member .form-label {font-size:14px;}
  .page-member input.sms-input {width:100%;}


}


@media screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation : landscape) { 

  .page-member .m-hide {display:none!important;}
  .page-member .m-show {display:block;}
  .page-member .m-show.address {height:40px;}


}


@media screen and (device-width : 1024px) and (device-height : 1366px) and (orientation : portrait) { 

}
