.page-member {min-height: 64vh;background-color:#fef8f2;}
.page-member .banner {height:15vh;background:url(../../static/images/customization/bg_header.jpg) no-repeat;background-size:cover;pointer-events:none;}

.page-member .member-submenu {margin:2rem 0;text-align:center;font-weight:700;color:#8a837f;font-size:23px;}

.page-member .subitem {display:inline-block;cursor:pointer;text-transform:uppercase;}

.page-member .subitem:after {
  display:block;
  content: '';
  border-bottom: solid 4px #8a837f;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.page-member .subitem:hover:after { transform: scaleX(1); }
.page-member .subitem.fromRight:after{ transform-origin:100% 50%; }
.page-member .subitem.fromLeft:after{  transform-origin:  0% 50%; }

.page-member .subitem.active {border-bottom: solid 4px #8a837f;}
.page-member .subitem.active:after {border-bottom:0;}

/* inputå‰ */
.page-member .before-container {overflow:hidden;}
.page-member .before-container .zone-select {max-width:110px;white-space:nowrap;overflow:auto;}
.page-member .before-container .zone-select::-webkit-scrollbar {display:none;}

.page-member .zone-title {display:flex;align-items:center;margin-top:4rem;margin-bottom:3rem;}
.page-member .deco-before-title {display:inline-block;background-color:#8a837f;width:166px;height:54px;}
.page-member h1.page-title {
	display:inline-block;
	margin:0 20px 0 10px;
	color:#8a837f;
	font-weight:700;
	font-size:45px;
}
.page-member .zone-title .ic-member {width:54px; margin:0 2rem;}

.page-member .container.inner {max-width:1100px;padding-bottom:5rem;}

.page-member .container.inner form {margin-bottom:3rem;}

.page-member .form-item {padding:.875rem 0;border-bottom: solid 2px #969696;}
.page-member .form-item .row {width:100%;display:flex;align-items:center;}
.page-member .form-item>div {display:inline-block;}
.page-member .form-item input {
  width:100%;
  height:40px;
  border:0;
  outline:none;
  background-color:#fef8f2;
  color:#a89b92;
  font-weight:700;
}

.page-member input::placeholder {color: rgba(143, 143, 143, 0.47)!important;}

.page-member .btn-select {display:inline-block;margin:1rem 0;margin-right: .5rem;padding:.5rem 1.5rem;border-radius:100rem;background-color:#8A837F;color:#fff;cursor:pointer;}
.page-member .btn-select span {display:inline-block;min-width:3rem;margin-right:1rem;}
.page-member .form-item input.width-auto {width:auto;}
.page-member .form-label {display:inline-block;color:#8F8F8F;font-weight:700;font-size:16px;}
.page-member .sms-send span, .page-member .email-verified span, .page-member .email-notverified span {margin-right:0;text-align:center;}
.page-member input.sms-input {width:20%;margin-left:1rem;}

.page-member .zone-select {position:absolute;top:.5rem;left:.5rem;z-index:5;}
.page-member input.zone-add {padding-left:8rem;}

.page-member .email-verified,.page-member .email-notverified {text-align:center;}


/* Radio */
  .page-member .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: .5rem 1rem 1rem;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.6;
    color:#a89b92;
    font-weight:700;
  }
  .page-member .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .page-member .control__indicator {
    position: absolute;
    top: 5px;
    left: 0;
    height: 22px;
    width: 22px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }
  .page-member .control--radio .control__indicator {
    border-radius: 50%;
  }
  .page-member .control:hover input ~ .control__indicator,
  .page-member .control input:focus ~ .control__indicator {
    /*background: #ccc;*/
  }
  .page-member .control input:checked ~ .control__indicator {
    background: #fff;
  }
  .page-member .control:hover input:not([disabled]):checked ~ .control__indicator,
  .page-member .control input:checked:focus ~ .control__indicator {
    background: #fff;
  }

  .page-member .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .page-member .control input:checked ~ .control__indicator:after {
    display: block;
  }

  .page-member .control--radio .control__indicator:after {left:4px;top:4px;height:14px;width:14px;border-radius:50%;background:#ffa150;}
  .page-member .control--radio input:disabled ~ .control__indicator:after {background:#7b7b7b;}

/* Radio end */



.page-member .btn.btn-primary {background: url(../../static/images/btn-bg.jpg) no-repeat center 95%;}

.page-member .btn {padding:.35rem 3rem;border-radius:10rem;font-size:19px;color:#fff;font-weight:700;}

.page-member .btn:active {box-shadow: 0 0 0 0.2rem rgba(241, 120, 38, 0.2);}

.page-member .pc-inline {display:inline-block;}

.page-member .subitem.col-md-3>div {margin:.5rem 1.5rem;}
.page-member .subitem img {vertical-align:middle;}

/* ====== RWD ====== */
@media only screen and (max-width: 1680px) {
  .page-member .banner {height:20vh;}
  .page-member h1.page-title {font-size:36px;}
  .page-member .deco-before-title {width:80px;height:48px;}
  .page-member .zone-title .ic-member {width:48px;}

  .page-member .member-submenu {font-size:18px;}
  .page-member .subitem>img {width:36px;}
}

@media only screen and (max-width: 1024px) {
  .page-member .subitem img {width:36px;}
  .page-member .form-item input.width-auto, .page-member input.sms-input {width:100%;}
}



@media only screen and (max-width: 768px) {
  .page-member .col-md-3 {width:32%;text-align:left;}

  .page-member .deco-before-title {width:54px;height:45px;}
  .page-member h1.page-title {font-size:37px;}
  .page-member .zone-title .ic-cartbag {width:36px;}

}


@media only screen and (max-width: 480px) {
  .page-member .banner {height:15vh;}
  .page-member .col-md-3 {font-size:14px;}
  .page-member .subitem.col-md-3>div {margin:.5rem;}
  .page-member .subitem img {width:24px;}

  .page-member .subitem:after, .page-member .subitem.active {border-bottom: solid 3px #8a837f;}

  .page-member .form-item {padding:.5rem 0;}
  .page-member .pc-inline {display:block;}
  .page-member .form-item .col-s-20 img {height:36px;}
  .page-member .control {margin: 1rem .5rem;}

  .page-member .btn-select {margin:.5rem .25rem;padding:.5rem .75rem;font-size:13px;}
  .page-member .form-label {font-size:14px}
  .page-member .form-item input {font-size:14px;}

  .page-member .control {font-size:16px;line-height:2;}

  .page-member .deco-before-title {width:36px;height:30px;}
  .page-member h1.page-title {margin:0 10px 0 10px;font-size:24px;}
  .page-member .zone-title .ic-member {width:36px;margin: 0 0 0 1rem;}
  .page-member .zone-title {margin-top:3rem;margin-bottom:2rem;}

}

@media only screen and (max-width: 320px) {

  .page-member .btn-select,.page-member .form-label {font-size:14px;}
  .page-member input.sms-input {width:100%;}
}
