.page-order .container.inner {padding-bottom:0;}

.page-order .order-detail .container.inner {padding:30px 15px;}

.page-order .order-item {padding-bottom:30px;}

.page-order .order-item .prd-img {width:85px;}

.page-order .order-item .container {position:relative;}
.page-order .order-info {display:flex;align-items:flex-end;}
.page-order .order-info-group {margin:0 25px;}
.page-order .order-info-group:first-child {margin-left:0;}

.page-order .order-time {color:#8A837F;font-size:24px;font-weight:700;}
.page-order .order-info {position:relative;color:#8A837F;font-size:18px;font-weight:700;line-height:2;}

.page-order .order-price {margin-left:50px;}

.page-order .order-status, .page-order .order-price {display:inline-block;}


.page-order .swich-order-detail span {display:inline-block;color:#8A837F;font-size:18px;font-weight:700;line-height: 1.25;border-bottom:2px solid #8A837F;}

.page-order .swich-order-detail .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #8A837F transparent;
  transform: rotate(180deg);
  transition: all .2s linear;
}

.page-order .swich-order-detail:active .triangle, .page-order .swich-order-detail.active .triangle{
  transform: rotate(0deg);
}

.page-order .swich-order-detail.active:active .triangle{
  transform: rotate(180deg);
}

.page-order .swich-order-detail {position:absolute;right:15px;bottom:0;}

.page-order .order-detail {margin-top:1rem;background-color:#8A837F;}

.page-order .order-detail.show {display:block;}
.page-order .order-detail.hide {display:none;}

.page-order .orderStatus {text-align:center;color:#fff;font-size:22px;font-weight:700;}
.page-order .orderStatus span {display:inline-block;padding:0 12px 10px;border-bottom:3px solid #fff;}
.page-order .orderStatus span img {margin-right:4px;margin-bottom:4px;}

.page-order .info-title .title {display:inline-block;margin:20px 0;font-size:22px;color:#fff;font-weight:700;}
.page-order .info-title span,
.page-order .info-title span.subtitle {display:inline-block;font-size:18px;color:#fff;font-weight:500;}

.page-order .info-title .title div,.page-order .note {margin:4px 0;font-size:18px;color:#fff;font-weight:500;}
.page-order .info-title div.inner-title {font-size:22px;color:#fff;font-weight:700;}

.page-order .info-title .title, .page-order .info-title span.subtitle {margin-right:12px;}
.page-order .shipping-number {margin-top:-16px;}
.page-order .note.product {max-width:600px;}

.page-order .transport-way > .title,.page-order .receive-info> .title {margin-bottom:4px;}
.page-order .transport-way > .title {margin-top:40px;}
/* button */
	.page-order .go-to-pay {margin:0 16px;padding:0 12px;line-height:1.8;border-radius:10rem;outline:none;border:0;box-shadow: 0 0px 6px rgba(0, 0, 0, 0.35);background-color:#fff;}
	.page-order .go-to-pay:active {box-shadow: 0 0 0 0.2rem rgba(241, 120, 38, 0.2);}
/* button end */

.page-order .sep-line {padding:10px 0;border-bottom:1px solid #6e6965;}


/* prd detail */
.page-order .prd-item {display:flex;position:relative;}

.page-order .prd-item .prd-img img {width:85px;margin-bottom:10px;}
.prd-name-number {margin:0 20px;}

.page-order .prd-name-number {color:#fff;}
.page-order .prd-name-number .name {margin-bottom:4px;font-size:22px;font-weight:700;}
.page-order .number, .page-order .prd-size-color, .page-order .prd-price-qty {margin-bottom:4px;font-size:18px;font-weight:500;}
.page-order .prd-price-qty {margin:0 24px;}

.page-order .prd-size-color .color, .page-order .prd-price-qty .qty {margin-top:6px;}

.page-order .flex {display:flex;}

/* prd detail end */

.page-order .m-show {display:none;}


/* ====== RWD ====== */
@media only screen and (max-width: 1680px) {


}

@media only screen and (max-width: 1024px) {
  .page-order .order-detail .container.inner {
      padding: 30px;
  }
}



@media only screen and (max-width: 768px) {

.page-order .order-info {display:block;}

.page-order .order-detail .container.inner {padding:30px;}
.page-order .order-info-group {margin-left:0;}

.page-order .order-item .prd-img {margin-top:15px;}
.page-order .swich-order-detail {right:30px;}
.page-order .order-price {margin-left:0;}

.page-order .m-hide {display:none;}
.page-order .m-show {display:block;}



}


@media only screen and (max-width: 480px) {
.page-order .container.inner {padding-bottom:3rem;}
.page-order .order-item .prd-img {margin-top:10px;}
.page-order .order-time {font-size:17px;}

.page-order .order-info,
.page-order .swich-order-detail span {font-size:13px;}

.page-order .orderStatus {margin-bottom:20px;}
.page-order .orderStatus span {padding: 0 12px 4px;font-size:14px;}
.page-order .orderStatus span img {width:16px;}

.page-order .info-title .title {margin:10px 0;}
.page-order .info-title .title,
.page-order .title.transport-way .inner-title,.page-order .info-title div.inner-title {font-size:14px;}

.page-order .info-title span, .page-order .info-title span.subtitle,
.page-order .info-title .title div, .page-order .note,
.page-order .number,
.page-order .prd-size-color,
.page-order .prd-price-qty {font-size:12px;}

.page-order .receive-info .title,.page-order .transport-way .title {margin-bottom:4px;}
.page-order .transport-way .title {margin-top:20px;}
.page-order .shipping-number {margin-top:-4px;}
.page-order .note {margin:0;}

.page-order .receive-info {line-height:1.25;}

.page-order .prd-name-number .name {font-size:15px;}

.page-order .order-detail .container.inner {padding: 30px 15px;}

.page-order .col-xs-70 {margin: 0;padding-left:0;}
.page-order .sep-line {padding:0;}

.page-order .number, .page-order .prd-size-color, .page-order .prd-price-qty {margin-bottom:10px;}
.page-order .prd-name-number {margin-top:4px;}
.page-order .swich-order-detail .triangle {border-width: 0 8px 8px 8px;}

.page-order .order-item .prd-img,.page-order .prd-item .prd-img img {width: 80px;}

}

@media only screen and (max-width: 320px) {


.page-order .order-item .prd-img,.page-order .prd-item .prd-img img {width: 60px;}

.page-order .order-info-group {margin:0;}
}


@media screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation : landscape) { 
  .page-order .order-detail .container.inner {padding:30px;}
}

@media screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 
  .page-order .order-item .prd-img {width:60px;}
}

@media screen and (device-width : 1024px) and (device-height : 1366px) and (orientation : portrait) { 

}
