.page-order {min-height: 64vh;background-color:#fef8f2;}
.page-order .banner {height:15vh;background:url(../../static/images/customization/bg_header.jpg) no-repeat;background-size:cover;pointer-events:none;}


.page-order .member-submenu {margin:2rem 0;text-align:center;font-weight:700;color:#8a837f;font-size:23px;}
.page-order .subitem {display:inline-block;cursor:pointer;text-transform:uppercase;}
.page-order .subitem:after {
  display:block;
  content: '';
  border-bottom: solid 4px #8a837f;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.page-order .subitem:hover:after { transform: scaleX(1); }
.page-order .subitem.fromRight:after{ transform-origin:100% 50%; }
.page-order .subitem.fromLeft:after{  transform-origin:  0% 50%; }
.page-order .subitem.active {border-bottom: solid 4px #8a837f;}
.page-order .subitem.active:after {border-bottom:0;}
.page-order .subitem.col-md-3>div {margin:.5rem 1.5rem;}
.page-order .subitem img {vertical-align:middle;}


.page-order .zone-title {display:flex;align-items:center;margin-top:4rem;margin-bottom:3rem;}
.page-order .deco-before-title {display:inline-block;background-color:#8a837f;width:166px;height:54px;}
.page-order h1.page-title {
	display:inline-block;
	margin:0 20px 0 10px;
	color:#8a837f;
	font-weight:700;
	font-size:45px;
}
.page-order .zone-title .ic-member {width:54px; margin:0 2rem;}

.page-order .container.inner {max-width:1100px;padding-bottom:5rem;}




/* ====== RWD ====== */
@media only screen and (max-width: 1680px) {
  .page-order .banner {height:20vh;}
  .page-order h1.page-title {font-size:36px;}
  .page-order .deco-before-title {width:80px;height:48px;}
  .page-order .zone-title .ic-member {width:48px;}

  .page-order .container.inner {max-width:1060px;}

  .page-order .member-submenu {font-size:18px;}
  .page-order .subitem>img {width:36px;}


}

@media only screen and (max-width: 1024px) {
  .page-order .subitem img {width:36px;}
}



@media only screen and (max-width: 768px) {
  .page-order .col-md-3 {width:32%;text-align:left;}

  .page-order .deco-before-title {width:54px;height:45px;}
  .page-order h1.page-title {font-size:37px;}
  .page-order .zone-title .ic-cartbag {width:36px;}



}


@media only screen and (max-width: 480px) {

  .page-order .col-s-80 {padding:0;}

  .page-order .banner {height:15vh;}
  .page-order .col-md-3 {font-size:14px;}
  .page-order .subitem.col-md-3>div {margin:.5rem;}
  .page-order .subitem img {width:24px;}

  .page-order .subitem:after, .page-order .subitem.active {border-bottom: solid 3px #8a837f;}

  .page-order .deco-before-title {width:36px;height:30px;}
  .page-order h1.page-title {margin:0 10px 0 10px;font-size:24px;}
  .page-order .zone-title .ic-member {width:36px;margin: 0 0 0 1rem;}
  .page-order .zone-title {margin-top:3rem;margin-bottom:2rem;}

  .page-order .col-md-3 {width:30%;}


}

@media only screen and (max-width: 320px) {
  .page-order .col-md-3 {font-size:13px;}


}


@media screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation : landscape) { 
  .page-order .banner {height:30vh;}
  .page-order .subitem img {width:24px;}
  .page-order .member-submenu {font-size:15px;}


}


@media screen and (device-width : 1024px) and (device-height : 1366px) and (orientation : portrait) { 
  .page-order .banner {height:15vh;}
}
