.page-order .container.inner {padding-bottom:0;}

.page-order .order-detail .container.inner {padding:30px 15px;}

.page-order .order-item {padding-bottom:30px;}

.page-order .order-item .container {position:relative;}
.page-order .order-info {display:flex;align-items:flex-end;}
.page-order .order-info-group {margin:0 25px;}
.page-order .order-info-group:first-child {margin-left:0;}

.page-order .order-time {color:#8F8F8F;font-size:24px;font-weight:700;}
.page-order .order-info {position:relative;color:#8A837F;font-size:18px;font-weight:700;line-height:2;}

.page-order .order-price {margin-left:50px;}

.page-order .order-status, .page-order .order-price {display:inline-block;}


.page-order .swich-order-detail span {display:inline-block;color:#8A837F;font-size:18px;font-weight:700;line-height: 1.25;border-bottom:2px solid #8A837F;}

.page-order .swich-order-detail .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #8A837F transparent;
  transform: rotate(180deg);
  transition: all .2s linear;
}

.page-order .swich-order-detail:active .triangle, .page-order .swich-order-detail.active .triangle{
  transform: rotate(0deg);
}

.page-order .swich-order-detail.active:active .triangle{
  transform: rotate(180deg);
}

.page-order .swich-order-detail {position:absolute;right:0;bottom:0;}

.page-order .order-detail {margin-top:1rem;background-color:#8A837F;}

.page-order .order-detail.show {display:block;}
.page-order .order-detail.hide {display:none;}

.page-order .orderStatus {text-align:center;color:#fff;font-size:22px;font-weight:700;}
.page-order .orderStatus span {display:inline-block;padding:0 12px 12px;border-bottom:3px solid #fff;}

.page-order .title div {margin:4px 0;font-size:18px;font-weight:500;}
.page-order div.inner-title {font-size:22px;color:#fff;font-weight:700;}
.page-order .title span {display:inline-block;margin-left:12px;font-size:18px;color:#fff;font-weight:500;}
.page-order .title {margin:20px 0;font-size:22px;color:#fff;font-weight:700;}

.page-order .shipping-number {margin-top: -20px;}

.page-order .note.product {max-width:600px;}

/* button */
	.page-order .go-to-pay {margin:0 16px;padding:0 12px;line-height:1.8;border-radius:10rem;outline:none;border:0;box-shadow: 0 0px 6px rgba(0, 0, 0, 0.5);}
	.page-order .go-to-pay:active {box-shadow: 0 0 0 0.2rem rgba(241, 120, 38, 0.2);}
/* button end */

.page-order .sep-line {padding:10px 0;border-bottom:1px solid #6e6965;}


/* prd detail */
.page-order .prd-item {display:flex;position:relative;}
.page-order .prd-item .prd-img {width:8%;}
.page-order .prd-item .prd-img img {margin-bottom:10px;}
.prd-name-number {margin:0 20px;}

.page-order .prd-name-number {color:#fff;}
.page-order .prd-name-number .name {margin-bottom:4px;font-size:22px;font-weight:700;}
.page-order .number, .page-order .prd-size-color, .page-order .prd-price-qty {margin-bottom:4px;font-size:18px;font-weight:500;}
.page-order .prd-price-qty {margin:0 24px;}

.page-order .prd-size-color .color, .page-order .prd-price-qty .qty {margin-top:6px;}

.page-order .flex {display:flex;}

/* prd detail end */

/* ====== RWD ====== */
@media only screen and (max-width: 1680px) {


}

@media only screen and (max-width: 1024px) {

}



@media only screen and (max-width: 768px) {

.page-order .order-info {display:block;}

}


@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 320px) {


}


@media screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation : landscape) { 

}


@media screen and (device-width : 1024px) and (device-height : 1366px) and (orientation : portrait) { 

}
