body {background:transparent;}

.page-product.outer.background {
  background: rgb(255,247,242);
  background: linear-gradient(180deg, rgba(255,247,242,1) 0%, rgba(255,247,242,0.8995973389355743) 90%, rgba(255,255,255,1) 100%);
  z-index:60;
  position: relative;
}

.page-product #descriptionMove{
	max-height: 85vh;	
	overflow-x: hidden;
  	overflow-y: auto;
}



.page-product #descriptionMove::-moz-scrollbar {
  display: none;
}

.page-product #descriptionMove::-webkit-scrollbar {
  display: none;
}

.page-product #descriptionMove::scrollbar {
  display: none;
}


.page-product#showImageBlock{
  z-index:55;
  position: relative;	
}

/* Recommand Carousel */
.page-product#recommand{
  z-index:65;
  position: relative;	
}

.page-product.recommand {margin:3rem 0;}
.page-product .recommandCarousel {margin:1.5rem 0;padding-top:1rem;padding-bottom: 1rem;}
.page-product .container-fluid.recommandCarousel {overflow:hidden;}
.page-product .wild-container {width:9999vw;}
.page-product #recommandCarousel .grid {position:relative;display:inline-block;width:20vw;margin:0 1rem;box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.15);}

.page-product.recommand .title {font-weight:700;color:#574c45;font-size:38px;}

.page-product .recommandMask {position:absolute;width:100%;bottom:0;background-image: linear-gradient(to left, #574c45 , #574c4500);padding:.75rem;}
.page-product .recommandMask .productTitle {font-weight:700;color:#fff;margin:0;margin:.5rem 0;font-size:19px;}
.page-product .recommandMask .productSubtitle {font-weight:500;color:#fff;margin:0;margin:.5rem 0;font-size:15px;}
.page-product .recommandMask .price {margin:0;margin:.5rem 0;color:#fff;font-size:19px;}

/* Recommand Carousel end */




.page-product.banner {
	height:40vh;
	background:url(https://images.squarespace-cdn.com/content/v1/55669087e4b0e760cda59f4e/1561995538025-P6ODKTYHOEN834HL0E3A/ke17ZwdGBToddI8pDm48kMXRibDYMhUiookWqwUxEZ97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0luUmcNM2NMBIHLdYyXL-Jww_XBra4mrrAHD6FMA3bNKOBm5vyMDUBjVQdcIrt03OQ/33.jpg?format=1000w) no-repeat center center;
	background-size:cover;
}

/* subMenu */
.page-product.subMenu {
  text-align:center;
  border-bottom:2px solid #E7D4C6;
  background:#fff;
  /* background: linear-gradient(180deg, rgba(255,247,242,1) 0%, rgba(255,247,242,0.8995973389355743) 90%, rgba(255,255,255,1) 100%); */
}

.page-product .cate-item {
  display:inline-block;
  font-weight:700;
  color:#574c45;
  cursor:pointer;
  line-height:2;
  border-bottom:4px solid transparent;
  margin:1rem 3rem;
  font-size:24px;

}

.page-product .cate-item:hover {border-bottom:4px solid #574c45; opacity:0.75;}
.page-product .cate-item:active {border-bottom:4px solid #574c45; opacity:1.0;}

/* subMenu end */


/* space */
.page-product .modal-btn-comfirm {margin:0;}
.page-product .container .inner {padding:3rem;}
.page-product .container .inner-s {padding-left:1rem;padding-right:.5rem;}
.page-product .line {width:100%;border-top:1px solid #574c45;margin:2.5rem 0 2rem;}

.page-product .dropDown-wrapper, .page-product #quantitySelect {margin:.5rem 0;}


/* space end */


.page-product .productCustom {display:inline;}
.page-product .qs {display:none;}


/* productCarousel */

.page-product .productThumbnail {padding-left:.5rem;padding-right:.5rem;}
.page-product .productPic {padding-left:.5rem;padding-right:.5rem;}
.page-product .productPic>img {width:100%;}
.page-product .productThumbnail .thumbnail {margin-bottom:.75rem;}
.page-product .productThumbnail .thumbnail>img {border-width:4px;}
.page-product .productThumbnail .thumbnail.active>img {border:4px solid #574c45;}
.page-product .productThumbnail .mask {
  width:100%;
  bottom:0;
  background-image: linear-gradient(to top, #fff6f2 , #fff0);
  background-size:cover;
  height:20%;
}
.page-product .productThumbnail.bottom {padding-left:0;padding-right:0;display:none;}

/* productCarousel end */



/* imgIntroZone */
.page-product .imgIntroZone {background:#fff;}
.page-product .introPic {padding-left:.5rem;padding-right:.5rem;}
.page-product .introPic>img {width:100%;margin:2rem 0;}
/* imgIntroZone end */



/* text style */
.page-product .productTitle {font-weight:700;color:#ff9833;margin-right:1rem;font-size:24px;}
.page-product .productSubtitle {font-weight:500;color:#574c45;margin-right:1rem;font-size:15px;}
.page-product .productCustom img {margin-right:.375rem;vertical-align:text-bottom;}
.page-product .productCustom span{font-weight:500;text-decoration:underline;color:#ff9833;font-size:15px;}
.page-product .price {font-weight:500;color:#574c45;margin:1rem 0;font-size:20px;}

.productAttributes .label {display:inline-block;margin-right:.5rem;font-weight:700;}
.productAttributes .hashtag {display:inline-block;margin-right:.75rem;text-decoration:underline;}
.colorCircle {
    display:inline-block;
    width:28px;height:28px;
    padding:4px;
    border-radius:100rem;
    border:2px solid transparent;
    vertical-align: middle;
    margin-bottom: 4px;
}
.colorCircle.active {border:2px solid #c2c2c2;}

.colorCircle.gold {background:url(../../static/images/product/color-gold.svg) no-repeat;}
.colorCircle.silver {background:url(../../static/images/product/color-silver.svg) no-repeat;}

.page-product .productAttributes>div {margin:2rem 0;}


.page-product .tab {margin-bottom:2rem;}
.page-product .introTab{font-weight:700;color:#574c45;cursor:pointer;font-size:19px;}
.page-product .introTab span.active {border-bottom:3px solid #574c45;}
.page-product .introText p {line-height:2}


/* text style end */


.recommandMask {text-align:right;}
.page-product .grid3, .page-product .grid4 {display:none;}


/* dropdown */

.page-product .dropDown-wrapper{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index:1;
}

/* the style for the label */
.page-product .dropDown-toggle-label {
    position: relative;
    padding: .5rem 4rem .5rem 1rem;
    background-color:#fff7f2;
    color: #3b342f;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #baae9d;
    font-size: 13px;
    transition: opacity .2s ease;
    letter-spacing: .2px;
    margin-bottom: 0;
    /* force parent to wrap around the label tag */
    float: left;
    height: 37px;
}


/* arrow indicator on the button */
.page-product .dropDown-toggle-label:after{
    content: "";
    display: inline-block;
    width:18px;
    height:10px;
    /* this makes the square appear as a white triangle */
    background: url(../../static/images/products/arrow_dropdown.svg);
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 35%;
}

/* hide all input fields since the labels are connected to them by the id */
.page-product .dropDown-wrapper input{display: none;}

/* rotate the button arrow upwards */
.page-product .dropDown-wrapper > input:checked + label:after{
    transform: rotate(180deg);
}

/* this will show dropDown when input is checked */
.page-product .dropDown-wrapper > input:checked + label + .dropDown{
    display: inline-block;
}

/* the drop-down style*/
.page-product .dropDown{
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 100%;
    display: none;
    background: #fff7f2;
    border:1px solid #baae9d;
}

/* the drop-down options style*/
.page-product .dropDown label {
    display: block;
    margin:15px 20px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight:500;
    color: #786a60;
    opacity: .8;
    transition:border .1s ease;
}

/* option item on hover */
.page-product .dropDown label:hover{
    border-bottom: 2px solid #474e5d;
    opacity: .9;
    color: #3b342f;
}

/* this shows that the list item was selected */
.page-product .dropDown input:checked + label{opacity: 1;}

/* dropdown end */


/* -- quantity -- */
.page-product form {border:1px solid #baae9d;text-align:center;height:37px;}

.page-product .value-button {
  display: inline-block;
  margin: 0px;
  width: 40px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  color: #ea5514;
}

.page-product .value-button:hover {cursor:pointer;}

.page-product form {}

.page-product form #input-wrap {margin:0px;padding:0px;}

.page-product input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 40px;
  background:transparent;
  line-height: 2;
}

.page-product input[type=number]::-webkit-inner-spin-button,
.page-product input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* -------------- */


/* popover */
.qs {position:relative;display:inline-block;vertical-align:text-bottom;cursor:pointer;}
.qs .popover {
  position: absolute;
  width:105px;
  background-color: #ff9733;
  border-radius: 5px;
  left:-2.65rem;
  bottom:2.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 7px 10px;
  z-index: 4;
}
.qs .popover:before {
  border-top: 7px solid #ff9733;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}
.qs:hover .popover {
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move-up {
  from {
    bottom:2rem;
  }
  to {
    bottom:2.5rem;
  }
}
@-moz-keyframes move-up {
  from {
    bottom:2rem;
  }
  to {
    bottom:2.5rem;
  }
}
@-ms-keyframes move-up {
  from {
    bottom:2rem;
  }
  to {
    bottom:2.5rem;
  }
}
/* popover end */







/* imgIntroZone */

.page-product.imgIntroZone>div img {margin-bottom:2rem;}

/* imgIntroZone end */

/*back to top*/
.page-product #toTheTop {
    position: fixed;
    width: 3vw;
    bottom: 10vh;
    right: 1vw;
}

.page-product .back-to-top {
    height: 50px;
    width: 40px;
    right: 38px;
    bottom: 10px;
}

.page-product .back-to-top .icon-arrow-up {
    font-style: normal;
    margin-top: 5px;
    margin-left: 0;
}

.page-product .back-to-top .icon-arrow-up:after {
    content: "\2303";
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
}

.page-product .back-to-top span {
    font-size: .625rem;
    display: block;
    margin-top: 0;
    margin-left: 0;
    color: #000;
    text-transform: uppercase;
    font-family: Gotham Medium;
}
/*back to top end*/



@media only screen and (max-width: 1920px) {
  .page-product .dropDown-wrapper {width:70%;}
  .page-product .dropDown-toggle-label {width:100%;}
}


@media only screen and (max-width: 1440px) {
  .page-product .cate-item {margin:1rem 2rem;font-size:18px;}
  .page-product .dropDown-wrapper {width:auto;}
  .page-product .dropDown-toggle-label {width:auto;}
  .page-product.recommand .title {font-size:34px;}
  .page-product #recommandCarousel .grid {width:25vw;}
}

@media only screen and (max-width: 1024px) {

  /* test style */
  .page-product .productTitle {font-size:20px;}
  .page-product .price {font-size:18px;}
  .page-product .introTab {font-size:16px;}
  .page-product .introText p {font-size:14px;}
  .page-product.recommand .title {font-size:30px;}
  /* test style end */

  /* space */
  .page-product .container .inner {padding-left:2rem;padding-right:2rem;}
  .page-product .productAttributes>div {margin:1.5rem 0;}
  /* space end */

  .page-product .grid4 {display:block;}
  .page-product .grid3,.page-product .grid5 {display:none;}
}




@media only screen and (max-width:768px) {
	
  .page-product.banner {height:20vh;}
  
  .page-product #descriptionMove{
	max-height: unset;	
	overflow-x: unset;
  	overflow-y: unset;
  }

  /* .page-product.subMenu {display:none;} */
  .page-product .cate-item {margin:0.25rem 0.3rem;font-size:16px;border-bottom: 3px solid transparent; min-width: 10%;}
  .page-product .cate-item:hover {border-bottom:3px solid #574c45;}
  .page-product .cate-item:active {border-bottom:3px solid #574c45;}
 
	
  /* space */
  .page-product .container.full {padding-right:0;padding-left:0;}
  .page-product .container .inner {padding:0;}
  .page-product .container .inner-s {padding:3rem;}
  .page-product .productPic,
  .page-product .introPic {padding-left:0;padding-right:0;}
  .page-product .productAttributes>div {margin:1.5rem 0;}
  .page-product .introPic>img {margin: 1rem 0;}
  .page-product.recommand .sepline img {width:80%;}
  .page-product .thumbnail.arrow {padding-top:1.5rem;}
  /* space end */


  /* carousel */

  .page-product .productThumbnail.left {display:none;}
  .page-product .productThumbnail.bottom {display:inline-block;margin:1rem 0;padding-right:.5rem;padding-left:.5rem;}


  .page-product .productThumbnail .mask {
      left: -2px;
      background-image: linear-gradient(to left, #fff6f2 , #fff0);
      height:100%;
  }

  .page-product .productThumbnail .thumbnail {padding-right:.5rem;padding-left:.5rem;}
  /* carousel end */

  /* text style */
  .page-product .recommandMask .productTitle {font-size:16px;}
  .page-product .recommandMask .productSubtitle {font-size:12px;}
  .page-product .recommandMask .price {font-size:16px;}

  .page-product .productTitle {font-size:30px;}
  .page-product .productSubtitle,.page-product .productCustom span {font-size:20px;}
  .page-product .price {font-size:24px;}
  .page-product .productAttributes span,.page-product .introTab {font-size:20px;}
  .page-product .introText p {font-size:16px;}
  /* text style end */

  .page-product .grid3 {display:block;}
  .page-product .grid4,.page-product .grid5 {display:none;}

  .page-product #recommandCarousel .grid {width:33.333vw;}

}



@media only screen and (max-width: 480px) {

  .page-product.subMenu .container{padding-right: 5px;padding-left: 5px;}

  .page-product .cate-item {margin:0.2rem 0.1rem;font-size:15px;line-height: 1.5;border-bottom: 2px solid transparent;}   
  .page-product .cate-item:hover {border-bottom:2px solid #574c45;}
  .page-product .cate-item:active {border-bottom:2px solid #574c45;}

  .page-product .productThumbnail.bottom {margin:.5rem 0;padding-right:.25rem;padding-left:.25rem;}
  .page-product .productThumbnail .thumbnail {padding-right:.25rem;padding-left:.25rem;}

  .page-product.recommand .title {font-size:24px;}
  .page-product #quantitySelect {}
  .page-product .value-button {width:28%;}
  .page-product input#number {width:35%;}

  .page-product .productCustom {display:none;}
  .page-product .qs {display:inline-block;}

  /* test style */
  .page-product .productTitle {font-size:20px;}
  .page-product .productSubtitle,.page-product .productCustom span {font-size:16px;}
  .page-product .price {font-size:18px;}
  .page-product .productAttributes span,.page-product .introTab {font-size:16px;}
  .page-product .introText p {font-size:14px;}


  /* test style end */

  /* space */
  .page-product .thumbnail.arrow {padding-top:0;}
  .page-product .container .inner-s {padding:1rem;}
  .page-product #recommandCarousel .grid {width:70vw;}
  /* space end */
}

@media only screen and (max-width:359px) {
  .page-product .cate-item {margin:0.2rem 0.1rem;font-size:14px;}
  .page-product .productAttributes .spec>div {width:100%;}
  .page-product #quantitySelect {width:70%;}
  .page-product .dropDown-wrapper {width:81%;}
  .page-product .dropDown-toggle-label {width:100%;}
}


@media only screen and (device-width: 812px) and (device-height : 375px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)  {
  .page-product .container .inner {padding-left:0;padding-right:0;}
  .page-product .productCustom {display:none;}
  .page-product .qs {display:inline-block;}
  .page-product .productAttributes .spec>div {width:100%;}
}