html {}

body {background:transparent;}

.page-products.outer.background{
	background:url(../../static/images/products/bg-tape.png) no-repeat;
	background-size: 100vw auto;
  	background-position-y:0rem;
  	background-attachment:fixed;
  	overflow:hidden;
}

.page-products.banner {
	height:40vh;
	background:url(../../static/images/products/bg-top.jpg) no-repeat center center;
	background-size:cover;
}

.page-products.search {padding-top:2rem;padding-bottom:2rem;}

.page-products .cate,
.page-products .cate .cate-item,
.page-products .viewMode,
.page-products .itemNum,
.page-products .sort,
.page-products .dropdown {display:inline-block;}

.page-products .viewMode img {margin:0 .5rem;cursor:pointer;}

.page-products .cate-item {margin:2rem;font-weight:700;color:#57514e;cursor:pointer;line-height:2;font-size:24px;}
.page-products .cate-item.active {border-bottom:4px solid #57514e;}

.page-products .productContainer {position:relative;margin:1rem 0;cursor:pointer;overflow:hidden;}
.page-products .productContainer:hover .maskDescription {transform:translate3d(0,0,0);bottom:0;opacity:100;}
.page-products .maskDescription {
	position:absolute;
	width:100%;
	padding:1.5rem;
	background:rgba(255,255,255,.7);

	bottom:0;
	transform:translate3d(0,100%,0);
    opacity:0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.page-products.gallery {padding-bottom:3rem;}

.page-products .col-25 .maskDescription {padding:1rem;}

.page-products .col-50 .maskDescription,
.page-products .col-100 .maskDescription {transform:unset;position:unset;transition:unset;background:transparent;padding:1rem 0;opacity:100;}

.page-products .col-50 .productContainer, 
.page-products .col-100 .productContainer{overflow:unset;}

.page-products .productTitle {display:inline-block;font-weight:700;color:#3b342f;margin-right:.25rem;margin-bottom:.5rem;font-size:22px;}

.page-products .productSubtitle,
.page-products .stoneDescription p {font-weight:700;color:#574c45;font-size:15px;}

.page-products .stoneDescription p {font-weight:500;}

.page-products .stoneDescription {margin:.5rem 0;}

.page-products .price {font-weight:500;color:#3b342f;font-size:23px;}

.modal-btn-comfirm.showMobile {display:none;}


.page-products .dropDown-wrapper{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index:1;
}

/* the style for the label */
.page-products .dropDown-toggle-label {
    position: relative;
    padding: .5rem 4rem .5rem 1rem;
    background-color:#fff7f2;
    color: #3b342f;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #604c3f;
    font-size: 13px;
    transition: opacity .2s ease;
    letter-spacing: .2px;
    margin-bottom: 0;
    /* force parent to wrap around the label tag */
    float: left;
}


/* arrow indicator on the button */
.page-products .dropDown-toggle-label:after{
    content: "";
    display: inline-block;
    width:18px;
    height:10px;
    /* this makes the square appear as a white triangle */
    background: url(../../static/images/products/arrow_dropdown.svg);
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 35%;
}

/* hide all input fields since the labels are connected to them by the id */
.page-products .dropDown-wrapper input{display: none;}

/* rotate the button arrow upwards */
.page-products .dropDown-wrapper > input:checked + label:after{
    transform: rotate(180deg);
}

/* this will show dropDown when input is checked */
.page-products .dropDown-wrapper > input:checked + label + .dropDown{
    display: inline-block;
}

/* the drop-down style*/
.page-products .dropDown{
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 100%;
    display: none;
    background: #fff7f2;
    border:1px solid #604c3f;
}

/* the drop-down options style*/
.page-products .dropDown label {
    display: block;
    margin:15px 20px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight:500;
    color: #786a60;
    opacity: .8;
    transition:
            border .1s ease;
}

/* option item on hover */
.page-products .dropDown label:hover{
    border-bottom: 2px solid #474e5d;
    opacity: .9;
    color: #3b342f;
}

/* this shows that the list item was selected */
.page-products .dropDown input:checked + label{
    opacity: 1;
}


/* --- */


/* popover */
.qs {position:relative;display:inline-block;vertical-align:text-bottom;cursor:pointer;}
.qs .popover {
  position: absolute;
  width:105px;
  background-color: #ff9733;
  border-radius: 5px;
  left:-2.65rem;
  bottom:2.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 7px 10px;
  z-index: 4;
}
.qs .popover:before {
  border-top: 7px solid #ff9733;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}
.qs:hover .popover {
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move-up {
  from {
    bottom:2rem;
  }
  to {
    bottom:2.5rem;
  }
}
@-moz-keyframes move-up {
  from {
    bottom:2rem;
  }
  to {
    bottom:2.5rem;
  }
}
@-ms-keyframes move-up {
  from {
    bottom:2rem;
  }
  to {
    bottom:2.5rem;
  }
}


.priceRangeLabel {padding:.5rem 0;font-size:1rem;}
.modal-btn-comfirm.showMobile {display:none;}

.page-products .itemNum {margin:0 2rem;}


/* hide show */
.viewMode.m {display:none;}
.page-products .col-50,.page-products .col-100 {display:none;}
/* end hide show */

/* filter */
.modal_all .general#filterPopup .container {width:30%;right:unset;}
.modal_all .general#filterPopup h2.popupTitle {border-bottom: 1px solid #231815;padding-bottom: 20px;}
.modal_all .general#filterPopup #priceRangeOptions {
  background: none;
  padding-top: 0;
  padding-left: 50px;
  border-bottom: 1px solid #231815;
}
.modal_all .general#filterPopup .meanType {margin:8px 10px;padding:12px 14px;}


.modal_all .general.filterToFadeIn {
  opacity: 1;
  animation: filterfade .2s ease-out;
  -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective:1000;
}
  @keyframes filterfade {
      0% { opacity:0;transform: translate(-8vh, 0);}
      100% { opacity:1;transform: translate(0, 0);}
  }

/* end filter */

@media only screen and (max-width: 1920px) {
}


@media only screen and (max-width: 1440px) {

	.page-products.outer.background{background-position-y:0rem;background-size: 120vw auto;}

	.page-products .cate-item {margin:2rem 1rem;font-size:18px;}

	.page-products .maskDescription {padding:1rem;}
	.page-products .productTitle {font-size:18px;}
	.page-products .productSubtitle, .page-products .stoneDescription p {font-size:12px;}
	.page-products .price {font-size:18px;}
	
	
}

@media only screen and (max-width: 768px) {

	.page-products.outer.background{background-position-y:0rem;background-size: 150vw auto;}
	
	
	.page-products .cate {display:block;margin-bottom:1rem;}
	.page-products .cate-item {margin:1rem;}
	
	/* hide show */
	.page-products .col-25,.page-products .col-33 {display:none;}
	.modal-btn-comfirm.showMobile {display:block;}
	.modal-btn-comfirm.showPC {display:none;}
	.page-products .sort {display:none;}
	.viewMode.pc {display:none;}
	
	.page-products .col-50,.page-products .col-100 {display:block;}
	.viewMode.m {display:inline-block;}
	
	.modal-btn-comfirm.showMobile {display:inline-block;width:auto;padding:0 2rem;}
	.page-products .itemNum {margin: 0 1rem;}
	
  .modal_all .general#filterPopup .container {width:90%;right:0}
	
}

@media only screen and (max-width: 480px) {
	.page-products.outer.background{background-position-y:20rem;background-size: 150vh auto;}
	.qs img {width:16px;}

  .modal_all .general#filterPopup .meanType {margin: 8px 10px;padding: 12px 10px;}
	
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) { 
  /* hide show */
  .page-products .col-25,.page-products .col-33 {display:none;}
  .modal-btn-comfirm.showMobile {display:block;}
  .modal-btn-comfirm.showPC {display:none;}
  .page-products .sort {display:none;}
  .viewMode.pc {display:none;}
  
  .page-products .col-50,.page-products .col-100 {display:block;}
  .viewMode.m {display:inline-block;}

  .modal-btn-comfirm.showMobile {display:inline-block;width:auto;padding:0 2rem;}
  .page-products .itemNum {margin: 0 1rem;}

  .modal_all .general#filterPopup .container {width:90%;right:0}
}