.page-products.banner {
	height:40vh;
	background:url(../../static/images/products/bg-top.jpg) no-repeat center center;
	background-size:cover;
}

.page-products .cate,
.page-products .cate .cate-item,
.page-products .viewMode,
.page-products .itemNum,
.page-products .sort {display:inline-block;}

.page-products .viewMode.m {display:none;}

.dropdown-menu {}

.page-products .productContainer {position:relative;margin:1rem 0}
.page-products .maskDescription {
	position:absolute;
	width:100%;
	padding:2rem 1.5rem;
	background:rgba(255,255,255,.7);
	bottom:0;
	height:20vh;
}

.page-products .productTitle {font-weight:700;color:#3b342f;font-size:20px;}
.page-products .productSubtitle,
.page-products .stoneDescription p {font-weight:500;color:#574c45;font-size:16px;}

.page-products .price {font-weight:500;color:#3b342f;font-size:22px;}