.page-vip {background-color:#8A837F;}
.page-vip .member-submenu,.page-vip h1.page-title {color:#FEF8F2;}
.page-vip .deco-before-title {background-color:#FEF8F2;}
.page-vip .subitem.active,.page-vip .subitem:after {border-color:#FEF8F2;}

.page-vip .promo {margin-bottom:10px;color:#FEF8F2;}
.page-vip .promo-title {margin-bottom:8px;font-size:24px;font-weight:700;}
.page-vip .promo-description {margin-bottom:15px;font-size:20px;font-weight:500;}

.page-vip .promo-btn {padding:4px 30px;border-radius:10rem;border:0;outline:none;font-size:20px;font-weight:700;color:#57524F;background-color:#FEF8F2;}



/* not vip */
.page-not-vip {background-color:#fef8f2;}

.page-not-vip .member-submenu,
.page-not-vip h1.page-title {color:#78726f;}
.page-not-vip .deco-before-title {background-color:#78726f;}
.page-not-vip .subitem.active,
.page-not-vip .subitem:after {border-color:#78726f;}

.page-not-vip .promo {color:#78726f;}

.page-not-vip .promo-btn {color:#ffffff;background-color:#8a837f;}

.page-not-vip .promo-card .not-vip-show {position:relative;}
.page-not-vip .text-in-card {position:absolute;right:8%;top:35%;text-align:right;color:#fef8f2;font-weight:700;font-size:16px;z-index:9;}
.page-not-vip .text-in-card .promo-btn {margin-top:1rem;color:#8A837F;background-color:#fef8f2;font-size:16px;}

/* vip or not-vip */
.page-vip .m-show,
.page-not-vip .m-show {display:none;}

.page-vip .not-vip-show,
.page-not-vip .not-vip-hide {display:none;}
.page-not-vip .not-vip-show {display:inline-block;}

.img-vipcard-container {position:relative;clear:both;}


.page-vip .card1,
.page-not-vip .card1 {position:absolute;width:60%;top:6%;z-index:1;}

.page-vip .card2,
.page-not-vip .card2 {position:absolute;width:42%;top:0;right:0;z-index:2;clear:both;}




/* ====== RWD ====== */
@media only screen and (max-width: 1680px) {


}

@media only screen and (max-width: 1024px) {
  .page-vip .container.inner {padding-right:0;padding-left:0;}

}



@media only screen and (max-width: 768px) {
.page-vip .m-show {display:block;}
.page-vip .m-hide {display:none;}

.page-vip .promo-card {padding:0;}

	.page-vip .promo-title {font-size:20px;}
	.page-vip .promo-description,.page-vip .promo-btn {font-size:18px;}


.page-not-vip .promo-card.m-show .text-in-card,
.page-not-vip .promo-card.m-show .text-in-card .promo-btn {font-size:20px;}
.page-not-vip .promo-card.m-show .text-in-card .promo-btn {margin-top:2rem;}
.page-not-vip .promo-card.m-show .text-in-card {right:6%;}

.page-vip .card1,
.page-not-vip .card1 {top:7%;}

.page-vip .not-vip-hide .card1 {width:76%;}
.page-vip .not-vip-hide .card2 {width:24%;}


}


@media only screen and (max-width: 480px) {
	.page-vip .container.inner {padding-bottom:3rem;}

	.page-vip .promo-title {font-size:16px;}
	.page-vip .promo-description,.page-vip .promo-btn {font-size:14px;}

	.page-not-vip .promo-card.m-show .text-in-card,
	.page-not-vip .promo-card.m-show .text-in-card .promo-btn {font-size:14px;}
	.page-not-vip .promo-card.m-show .text-in-card .promo-btn {margin-top:1rem;}
	.page-not-vip .promo-card.m-show .text-in-card {right:4%;top:35%;}


}

@media only screen and (max-width: 320px) {

	.page-not-vip .promo-card.m-show .text-in-card,
	.page-not-vip .promo-card.m-show .text-in-card .promo-btn {font-size:12px;}
	.page-not-vip .promo-card.m-show .text-in-card .promo-btn {margin-top:1rem;}

}


@media screen and (min-device-width : 320px) and (max-device-width : 812px) and (orientation : landscape) { 

}

@media screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { 

}

@media screen and (device-width : 1024px) and (device-height : 1366px) and (orientation : portrait) { 

}
